html{
    zoom: 100%;
}
body{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none; 
    overflow-x: hidden;
    overflow-y: hidden;
}