* {
  font-family: cursive, fantasy, 'Times New Roman';
}

#login_signup_body {
  margin: 0%;
  overflow: hidden;
  transition: 0.5s;
}

/* all elemints */
.absolute {
  position: absolute;
}

.border_radius_3vh {
  border-bottom-left-radius: 3vh;
  border-top-left-radius: 3vh;
  border-top-right-radius: 3vh;
  border-bottom-right-radius: 3vh;
}

.p {
  pointer-events: none;
  font-size: 3vw;
}

.border_radius_15vh {
  border-bottom-left-radius: 1.5vh;
  border-top-left-radius: 1.5vh;
  border-top-right-radius: 1.5vh;
  border-bottom-right-radius: 1.5vh;
}

::placeholder {
  width: 75%;
  position: absolute;
  top: 25%;
  left: 2%;
  color: rgb(46, 46, 46);
}

/* .labels {
    font-size: 1.5vw;
  } */
.inputs {
  background-color: rgb(236, 236, 236);
  height: 7vh;
  width: 30vw;
  border: solid;
  border-width: 0.11em;
  border-color: rgb(116, 116, 116);
  outline: none;
}

input[type='text'] {
  font-size: 1.2vw;
  padding-left: 0.5%;
  color: rgb(46, 46, 46);
}

input[type='email'] {
  font-size: 1.2vw;
  padding-left: 0.5%;
  color: rgb(46, 46, 46);
}

input[type='password'] {
  font-size: 1.2vw;
  padding-left: 0.5%;
  color: rgb(46, 46, 46);
}

.inputs:hover {
  background-color: rgb(216, 216, 216);
  border-width: 0.13em;
}

.inputs:focus {
  background-color: rgb(216, 216, 216);
  border-width: 0.13em;
}

a {
  color: rgb(0, 44, 139);
}

a:hover {
  color: rgb(0, 89, 255);
}

.button {
  border-color: rgb(138, 138, 138);
  border-style: solid;
  height: 9vh;
  width: 11vw;
  border-bottom-left-radius: 2vh;
  border-top-left-radius: 2vh;
  border-top-right-radius: 2vh;
  border-bottom-right-radius: 2vh;
  font-size: 2vw;
  transition: 0.5s;
}

/*login*/
#logo {
  background-color: rgba(185, 253, 227, 0.527);
  z-index: 1;
  top: 0.5%;
  left: 0.5%;
  height: 12%;
  width: 22%;
}

#logoimg {
  top: -0.8vh;
  left: -5.5vw;
  height: 14vh;
  width: 17vw;
  background-image: url(logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#cubicalblock {
  position: absolute;
  font-size: 2.2vw;
  top: -16%;
  left: 28%;
}

#black:visited {
  color: black;
}

#background_login {
  border-bottom-left-radius: 2vh;
  border-top-left-radius: 2vh;
  border-top-right-radius: 2vh;
  border-bottom-right-radius: 2vh;
  background-color: rgb(139, 199, 136);
  position: absolute;
  top: 14%;
  left: 6%;
  height: 80%;
  width: 35%;
  z-index: 0;
  opacity: 0.8;
}

#login {
  top: 12vh;
  left: 19vw;
  height: 15vh;
  width: 8vw;
}

#username_input {
  top: 35vh;
  left: 8vw;
}

#password_input {
  top: 47vh;
  left: 8vw;
}

/* #Remember_me_label {
    top: 51vh;
    left: 8vw;
  }
  #remember_me_checkbox {
    height: 2vh;
    width: 1vw;
    top: 55.5vh;
    left: 19vw;
  } */
#login_button {
  background-color: rgb(236, 236, 236);
  color: rgb(61, 227, 27);
  top: 69vh;
  left: 18vw;
}

#login_button:hover {
  background-color: rgb(61, 227, 27);
  color: rgb(236, 236, 236);
  border-color: rgb(77, 77, 77);

}

#forgot_password_label {
  top: 82vh;
  left: 17vw;
  font-size: 1.2vw;
}

/*sign up form*/
#background_sign_up {
  border-bottom-left-radius: 2vh;
  border-top-left-radius: 2vh;
  border-top-right-radius: 2vh;
  border-bottom-right-radius: 2vh;
  background-color: rgb(137, 136, 199);
  position: absolute;
  top: 14%;
  right: 6%;
  height: 80%;
  width: 35%;
  z-index: 0;
  opacity: 0.8;
}

#sign_up {
  top: 12vh;
  right: 14.5vw;
  height: 15vh;
  width: 14vw;
}

#email_input {
  top: 33vh;
  right: 8vw;
}

#username_sign_up_input {
  top: 45vh;
  right: 8vw;
}

#password_sign_up_input {
  width: 14vw;
  top: 57vh;
  right: 24vw;
}

#confirm_password_sign_up_input {
  width: 14vw;
  top: 57vh;
  right: 8vw;
}

#sign_up_button {
  background-color: rgb(236, 236, 236);
  color: rgb(71, 54, 224);
  top: 69.5vh;
  right: 18vw;
}

#sign_up_button:hover {
  color: rgb(236, 236, 236);
  background-color: rgb(71, 54, 224);
  border-color: rgb(77, 77, 77);
}

#agreement {
  top: 82vh;
  right: 8.5vw;
  width: 29vw;
  font-size: 1vw;
}

/* for the backgrond */
#container_login_signup {
  background-color: rgb(200, 255, 246);
  height: 100%;
  width: 100%;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.iteration_ls {
  animation-iteration-count: infinite;
}

.rotate_ls {
  transform: rotate(-30deg);
}

/* .blur_ls {
  filter: blur(5px);
} */

.radius_ls {
  border-bottom-left-radius: 100vh;
  border-top-left-radius: 100vh;
  border-top-right-radius: 100vh;
  border-bottom-right-radius: 100vh;
}

/* //////////////////////////////////////////// */
#container_ls_div1 {
  background-color: rgb(8, 6, 109);
  height: 10vh;
  width: 20vw;
  animation-name: container_ls_div1;
  animation-duration: 3s;
}

@keyframes container_ls_div1 {
  0% {
    top: 30vh;
    left: 70vw;
  }

  50% {
    top: 29vh;
    left: 71.3vw;
  }

  100% {
    top: 30vh;
    left: 70vw;
  }
}

#container_ls_div2 {
  background-color: rgb(29, 20, 150);
  height: 15vh;
  width: 30vw;
  animation-name: container_ls_div2;
  animation-duration: 5s;
}

@keyframes container_ls_div2 {
  0% {
    top: 8vh;
    left: 15vw;
  }

  50% {
    top: 7vh;
    left: 17.3vw;
  }

  100% {
    top: 8vh;
    left: 15vw;
  }
}

#container_ls_div3 {
  background-color: rgb(49, 22, 202);
  animation-name: container_ls_div3;
  animation-duration: 5s;
}

@keyframes container_ls_div3 {
  0% {
    height: 16vh;
    width: 8vw;
    top: 9vh;
    left: 85vw;
  }

  50% {
    height: 12vh;
    width: 6vw;
    top: 11vh;
    left: 86.3vw;
  }

  100% {
    height: 16vh;
    width: 8vw;
    top: 9vh;
    left: 85vw;
  }
}

#container_ls_div4 {
  background-color: rgb(9, 197, 25);
  height: 7vh;
  width: 30vw;
  animation-name: container_ls_div4;
  animation-duration: 3.5s;
}

@keyframes container_ls_div4 {
  0% {
    top: 80vh;
    left: 3vw;
  }

  50% {
    top: 79vh;
    left: 4.3vw;
  }

  100% {
    top: 80vh;
    left: 3vw;
  }
}

#container_ls_div5 {
  background-color: rgb(17, 27, 167);
  height: 15vh;
  width: 15vw;
  animation-name: container_ls_div5;
  animation-duration: 5s;
}

@keyframes container_ls_div5 {
  0% {
    top: 84vh;
    left: 70vw;
  }

  50% {
    top: 83vh;
    left: 71.3vw;
  }

  100% {
    top: 84vh;
    left: 70vw;
  }
}

#container_ls_div6 {
  background-color: rgb(47, 136, 39);
  height: 12vh;
  width: 20vw;
  animation-name: container_ls_div6;
  animation-duration: 5s;
}

@keyframes container_ls_div6 {
  0% {
    top: 80vh;
    left: 0vw;
  }

  50% {
    top: 79vh;
    left: 1.3vw;
  }

  100% {
    top: 80vh;
    left: 0vw;
  }
}

#container_ls_div7 {
  background-color: rgb(16, 156, 23);
  height: 7vh;
  width: 40vw;
  animation-name: container_ls_div7;
  animation-duration: 4s;
}

@keyframes container_ls_div7 {
  0% {
    top: 88vh;
    left: 45vw;
  }

  50% {
    top: 87vh;
    left: 46.3vw;
  }

  100% {
    top: 88vh;
    left: 45vw;
  }
}

#container_ls_div8 {
  background-color: rgb(27, 16, 77);
  animation-name: container_ls_div8;
  animation-duration: 6s;
}

@keyframes container_ls_div8 {
  0% {
    height: 18vh;
    width: 9vw;
    top: 83vh;
    left: 83vw;
  }

  50% {
    height: 14vh;
    width: 7vw;
    top: 85vh;
    left: 84.3vw;
  }

  100% {
    height: 18vh;
    width: 9vw;
    top: 83vh;
    left: 83vw;
  }
}

#container_ls_div9 {
  background-color: rgb(53, 51, 138);
  height: 10vh;
  width: 20vw;
  animation-name: container_ls_div9;
  animation-duration: 3s;
}

@keyframes container_ls_div9 {
  0% {
    top: 25vh;
    left: 85vw;
  }

  50% {
    top: 24vh;
    left: 86.3vw;
  }

  100% {
    top: 25vh;
    left: 85vw;
  }
}

#container_ls_div10 {
  background-color: rgb(23, 22, 110);
  height: 10vh;
  width: 30vw;
  animation-name: container_ls_div10;
  animation-duration: 5s;
}

@keyframes container_ls_div10 {
  0% {
    top: 5vh;
    left: 40vw;
  }

  50% {
    top: 4vh;
    left: 41.3vw;
  }

  100% {
    top: 5vh;
    left: 40vw;
  }
}

#container_ls_div11 {
  background-color: rgb(54, 119, 47);
  height: 10vh;
  width: 12vw;
  animation-name: container_ls_div11;
  animation-duration: 3s;
}

@keyframes container_ls_div11 {
  0% {
    top: 85vh;
    left: 14vw;
  }

  50% {
    top: 84vh;
    left: 15.3vw;
  }

  100% {
    top: 85vh;
    left: 14vw;
  }
}

#container_ls_div12 {
  background-color: rgb(29, 165, 2);
  animation-name: container_ls_div12;
  animation-duration: 6s;
}

@keyframes container_ls_div12 {
  0% {
    height: 20vh;
    width: 10vw;
    top: 3vh;
    left: 1vw;
  }

  50% {
    height: 16vh;
    width: 8vw;
    top: 5vh;
    left: 2.3vw;
  }

  100% {
    height: 20vh;
    width: 10vw;
    top: 3vh;
    left: 1vw;
  }
}

#container_ls_div13 {
  background-color: rgb(140, 243, 81);
  height: 8vh;
  width: 20vw;
  animation-name: container_ls_div13;
  animation-duration: 5s;
}

@keyframes container_ls_div13 {
  0% {
    top: 20vh;
    left: -6vw;
  }

  50% {
    top: 19vh;
    left: -4.7vw;
  }

  100% {
    top: 20vh;
    left: -6vw;
  }
}

#container_ls_div14 {
  background-color: rgb(28, 39, 204);
  height: 10vh;
  width: 20vw;
  animation-name: container_ls_div14;
  animation-duration: 4s;
}

@keyframes container_ls_div14 {
  0% {
    top: 3vh;
    left: 60vw;
  }

  50% {
    top: 2vh;
    left: 61.3vw;
  }

  100% {
    top: 3vh;
    left: 60vw;
  }
}

#container_ls_div15 {
  background-color: rgb(24, 27, 180);
  animation-name: container_ls_div15;
  animation-duration: 6s;
}

@keyframes container_ls_div15 {
  0% {
    height: 20vh;
    width: 10vw;
    top: 80vh;
    left: 30vw;
  }

  50% {
    height: 16vh;
    width: 8vw;
    top: 82vh;
    left: 31.3vw;
  }

  100% {
    height: 20vh;
    width: 10vw;
    top: 80vh;
    left: 30vw;
  }
}

#container_ls_div16 {
  background-color: rgb(16, 27, 173);
  height: 10vh;
  width: 20vw;
  animation-name: container_ls_div16;
  animation-duration: 4s;
}

@keyframes container_ls_div16 {
  0% {
    top: 51vh;
    left: 22vw;
  }

  50% {
    top: 50vh;
    left: 23.3vw;
  }

  100% {
    top: 51vh;
    left: 22vw;
  }
}

#container_ls_div17 {
  background-color: rgb(36, 69, 160);
  height: 15vh;
  width: 40vw;
  animation-name: container_ls_div17;
  animation-duration: 5s;
}

@keyframes container_ls_div17 {
  0% {
    top: 90vh;
    left: 27vw;
  }

  50% {
    top: 89vh;
    left: 28.3vw;
  }

  100% {
    top: 90vh;
    left: 27vw;
  }
}

#container_ls_div18 {
  background-color: rgb(33, 99, 31);
  height: 13vh;
  width: 30vw;
  animation-name: container_ls_div18;
  animation-duration: 4s;
}

@keyframes container_ls_div18 {
  0% {
    top: 40vh;
    left: 17vw;
  }

  50% {
    top: 39vh;
    left: 18.3vw;
  }

  100% {
    top: 40vh;
    left: 17vw;
  }
}

#container_ls_div19 {
  background-color: rgb(66, 158, 54);
  height: 10vh;
  width: 35vw;
  animation-name: container_ls_div19;
  animation-duration: 5s;
}

@keyframes container_ls_div19 {
  0% {
    top: 10vh;
    left: 5vw;
  }

  50% {
    top: 9vh;
    left: 6.3vw;
  }

  100% {
    top: 10vh;
    left: 5vw;
  }
}

#container_ls_div20 {
  background-color: rgb(23, 11, 131);
  height: 10vh;
  width: 40vw;
  animation-name: container_ls_div20;
  animation-duration: 3s;
}

@keyframes container_ls_div20 {
  0% {
    top: 40vh;
    left: 70vw;
  }

  50% {
    top: 39vh;
    left: 71.3vw;
  }

  100% {
    top: 40vh;
    left: 70vw;
  }
}

#container_ls_div21 {
  background-color: rgb(50, 199, 44);
  height: 13vh;
  width: 25vw;
  animation-name: container_ls_div21;
  animation-duration: 6s;
}

@keyframes container_ls_div21 {
  0% {
    top: 58vh;
    left: 30vw;
  }

  50% {
    top: 57vh;
    left: 31.3vw;
  }

  100% {
    top: 58vh;
    left: 30vw;
  }
}

#container_ls_div22 {
  background-color: rgb(46, 185, 28);
  height: 10vh;
  width: 20vw;
  animation-name: container_ls_div22;
  animation-duration: 5s;
}

@keyframes container_ls_div22 {
  0% {
    top: 70vh;
    left: 45vw;
  }

  50% {
    top: 69vh;
    left: 46.3vw;
  }

  100% {
    top: 70vh;
    left: 45vw;
  }
}

#container_ls_div23 {
  background-color: rgb(18, 173, 31);
  height: 10vh;
  width: 25vw;
  animation-name: container_ls_div23;
  animation-duration: 6s;
}

@keyframes container_ls_div23 {
  0% {
    top: 60vh;
    left: 10vw;
  }

  50% {
    top: 59vh;
    left: 11.3vw;
  }

  100% {
    top: 60vh;
    left: 10vw;
  }
}

#container_ls_div24 {
  background-color: rgb(38, 40, 173);
  height: 9vh;
  width: 40vw;
  animation-name: container_ls_div24;
  animation-duration: 5s;
}

@keyframes container_ls_div24 {
  0% {
    top: 48vh;
    left: 40vw;
  }

  50% {
    top: 47vh;
    left: 41.3vw;
  }

  100% {
    top: 48vh;
    left: 40vw;
  }
}

#container_ls_div25 {
  background-color: rgb(18, 32, 221);
  height: 15vh;
  width: 25vw;
  animation-name: container_ls_div25;
  animation-duration: 4s;
}

@keyframes container_ls_div25 {
  0% {
    top: 50vh;
    left: 85vw;
  }

  50% {
    top: 49vh;
    left: 86.3vw;
  }

  100% {
    top: 50vh;
    left: 85vw;
  }
}

#container_ls_div26 {
  background-color: rgb(25, 27, 139);
  height: 12vh;
  width: 25vw;
  animation-name: container_ls_div26;
  animation-duration: 6s;
}

@keyframes container_ls_div26 {
  0% {
    top: 73vh;
    left: 55vw;
  }

  50% {
    top: 72vh;
    left: 56.3vw;
  }

  100% {
    top: 73vh;
    left: 55vw;
  }
}

#container_ls_div27 {
  background-color: rgb(85, 88, 231);
  animation-name: container_ls_div27;
  animation-duration: 4s;
}

@keyframes container_ls_div27 {
  0% {
    height: 18vh;
    width: 9vw;
    top: 55vh;
    left: 63vw;
  }

  50% {
    height: 14vh;
    width: 7vw;
    top: 57vh;
    left: 64.3vw;
  }

  100% {
    height: 18vh;
    width: 9vw;
    top: 55vh;
    left: 63vw;
  }
}

#container_ls_div28 {
  background-color: rgb(27, 16, 124);
  height: 6vh;
  width: 30vw;
  animation-name: container_ls_div28;
  animation-duration: 5s;
}

@keyframes container_ls_div28 {
  0% {
    top: 38vh;
    left: 40vw;
  }

  50% {
    top: 37vh;
    left: 41.3vw;
  }

  100% {
    top: 38vh;
    left: 40vw;
  }
}

#container_ls_div29 {
  background-color: rgb(31, 151, 27);
  height: 12vh;
  width: 25vw;
  animation-name: container_ls_div29;
  animation-duration: 5s;
}

@keyframes container_ls_div29 {
  0% {
    top: 48vh;
    left: 0vw;
  }

  50% {
    top: 47vh;
    left: 1.3vw;
  }

  100% {
    top: 48vh;
    left: 0vw;
  }
}

#container_ls_div30 {
  background-color: rgb(23, 190, 45);
  height: 10vh;
  width: 30vw;
  animation-name: container_ls_div30;
  animation-duration: 7s;
}

@keyframes container_ls_div30 {
  0% {
    top: 20vh;
    left: 45vw;
  }

  50% {
    top: 19vh;
    left: 46.3vw;
  }

  100% {
    top: 20vh;
    left: 45vw;
  }
}

/* for phone users */
#phone_tilt {
  z-index: 200;
  background-color: white;
  height: 200%;
  width: 200%;
  display: none;
  font-size: 5vw;
}

@media all and (max-width: 500px) {
  #phone_tilt {
    display: unset;
  }
}

@media all and (max-width: 1180px) {

  * {
    font-family: cursive, fantasy;
    overflow: hidden;
  }

  .phone_none {
    display: none;
  }

  #login_signup_body{
    background-image: url(loging_signup_background.png);
  }

}