* {
  font-family: cursive, fantasy;
}

a:visited {
  color: black;
}

.absolute {
  position: absolute;
}

::placeholder {
  font-size: 1.2vw;
  color: rgb(109, 109, 109);
}

.on_off {
  visibility: hidden;
}

.p {
  pointer-events: none;
  position: absolute;
  font-size: 3vw;
  z-index: 2;
}

.border_radius_3vh {
  border-bottom-left-radius: 3vh;
  border-top-left-radius: 3vh;
  border-top-right-radius: 3vh;
  border-bottom-right-radius: 3vh;
}

.border {
  border: solid;
  border-color: rgb(150, 150, 150);
  border-width: 0.7vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.transform {
  transform: translate(-50%, -50%);
}

.just {
  color: rgb(82, 82, 82);
}

/*body*/
body {
  margin: 0%;
  overflow: hidden;
  transition: 0.5s;
}

#logo {
  border-top-right-radius: 3vh;
  border-bottom-right-radius: 3vh;
  top: 1%;
  height: 12%;
  width: 30%;
  transition: 0.2s;
}

/* background-color: rgba(127, 150, 255, 0.603); أزرق */
/* background-color: rgba(255, 127, 127, 0.603); أحمر */
/* background-color: rgba(138, 255, 127, 0.603); أخضر */
/* background-color: rgba(214, 127, 255, 0.603); بنفسجي */
#logoimg {
  left: -5.5vw;
  height: 14vh;
  width: 17vw;
  background-image: url(logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#cubicalblock {
  font-size: 2.2vw;
  left: 20%;
}

#user_display {
  top: 1%;
  left: 20%;
  height: 12vh;
  width: 10vw;
  overflow: unset;
}

#user_display_a {
  text-decoration: none;
}

#user_display_p {
  font-size: 3vw;
  transition: 0.2s;
  overflow: unset;
  text-overflow: ellipsis;
}

.login_signup {
  top: 1vh;
  height: 6vh;
  width: 9.5vw;
  transition: 0.2s;
  border-width: medium;
}

#login_a {
  top: 1%;
  left: 89%;
}

#home_login {
  border-width: 0.5vh;
  background-color: rgb(79, 240, 47);
}

#home_login:hover {
  background-color: rgb(55, 212, 23);
}

#login_p {
  font-size: 1.8vw;
}

#inner_background {
  top: 5%;
  left: 35%;
  height: 90%;
  width: 50%;
}

#beta {
  background-color: yellow;
  top: 28%;
  left: 45%;
  height: 10vh;
  width: 30vw;
}

#beta_p {
  color: red;
  font-size: 1.4vw;
}

/* plays elemints */
#This_weeks_game_tital {
  width: 27%;
  top: 3%;
  left: 47%;
}

#This_weeks_game {
  width: 23%;
  top: 14%;
  left: 51%;
}

#This_weeks_game_p {
  font-size: 2.5vw;
}

#prize {
  top: 40%;
  left: 37%;
}

#current_prize_p {
  position: relative;
  display: inline;
  font-size: 2vw;
  width: 30vw;
  pointer-events: unset;
}

#current_prize_value {
  font-size: 2.5vw;
  pointer-events: unset;
}

#prize_explanation {
  background-color: rgba(192, 195, 221, 0.733);
  height: 15vh;
  width: 17vw;
  top: 1vh;
  left: 29vw;
}

#prize_explanation_p {
  margin-left: 5%;
  font-size: 1vw;
}

#your_rank {
  width: 17vw;
  top: 45%;
  left: 37%;
}

#your_rank_p {
  font-size: 2vw;
}

#start_playing {
  background-color: rgb(226, 226, 255);
  border-width: medium;
  height: 18vh;
  width: 18vw;
  top: 70%;
  left: 51%;
  transition: 0.4s;
}

#start_playing:hover {
  border-color: rgb(65, 65, 65);
  background-color: rgb(72, 72, 248);
}

#start_playing_p {
  position: unset;
  color: rgb(7, 7, 139);
}

/* practice elemints */
.practice_games {
  background-size: cover;
  background-repeat: no-repeat;
  height: 23vh;
  width: 23vw;
  transition: 0.4s;
}

.practice_games:hover {
  border-color: rgb(83, 83, 83);
}

#math_game {
  background-image: url(math_game_practice_background.png);
  top: 10%;
  left: 36%;
}

#math_game_p {
  color: black;
}

#pictures_game {
  background-image: url(pictures_game_practice_background.png);
  top: 10%;
  left: 60%;
}

#pictures_game_p {
  color: black;
}

#maze_game {
  background-color: rgb(255, 221, 221);
  top: 35%;
  left: 36%;
}

#maze_game_p {
  color: black;
}

/* 
#coming_soon1 {
  top: 37%;
  left: 61.5%;
}
#coming_soon2 {
  top: 64%;
  left: 36%;
}
#coming_soon3 {
  top: 64%;
  left: 61.5%;
} */
/* party elemints */
#host_a_lobby_button {
  height: 15vh;
  width: 20vw;
  top: 15vh;
  left: 50vw;
}

#party_explanation {
  height: 30vh;
  width: 51vw;
  top: 35vh;
  left: 37vw;
}

#party_explanation_p {
  font-size: 1.8vw;
}

#descriptions {
  background-color: rgba(228, 157, 222, 0.651);
  top: 22.5%;
  left: 36%;
  height: 55%;
  width: 22%;
}

#descriptions_p {
  padding-left: 1.5%;
  font-size: 1.5vw;
}

#scoreboard_table {
  top: 8vh;
  left: 60vw;
  border-collapse: collapse;
}

.first_row {
  padding-top: 0.7vh;
}

.last_row {
  padding-bottom: 0.7vh;
}

.top_left {
  border-top-left-radius: 3vh;
}

.top_right {
  border-top-right-radius: 3vh;
}

.bottom_left {
  border-bottom-left-radius: 3vh;
}

.bottom_right {
  border-bottom-right-radius: 3vh;
}

#username {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 1.5vh;
  padding-top: 1.5vh;
  font-size: 1.2vw;
}

th {
  text-align: center;
  padding: 1vh;
  background-color: rgb(159, 110, 165);
  font-size: 1.2vw;
}

td {
  text-align: center;
  padding: 2.2vh;
  background-color: rgba(228, 157, 222, 0.651);
  font-size: 1.2vw;
}

/*center elements*/
.divs {
  position: absolute;
  height: 15vh;
  width: 20vw;
  transition: 0.2s;
  left: -1.2vw;
}

#play {
  background-color: rgb(210, 233, 255);
  top: 21vh;
}

#practice {
  background-color: rgb(255, 210, 210);
  top: 37vh;
}

#party {
  background-color: rgb(218, 255, 210);
  top: 53vh;
}

#scoreboard {
  background-color: rgb(231, 210, 255);
  top: 69vh;
}

.border_radius_videos {
  border-top-right-radius: 3vh;
  border-bottom-right-radius: 3vh;
}

.inside_background_videos {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

#dark_theam {
  height: 4vh;
  width: 10vw;
  top: 96vh;
  z-index: 9;
  background-color: rgb(146, 146, 146);
  border-top-right-radius: 5vh;
  border-bottom-right-radius: 5vh;
}

#dark_theam_p {
  pointer-events: none;
  left: 0.2vw;
  font-size: 1vw;
}

#dark_theam_button {
  z-index: 10;
  border: none;
  height: 2vh;
  width: 2.3vw;
  left: 7vw;
  border-top-right-radius: 1vh;
  border-top-left-radius: 1vh;
  border-bottom-right-radius: 1vh;
  border-bottom-left-radius: 1vh;
  cursor: pointer;
}

#ball {
  pointer-events: none;
  z-index: 11;
  background-color: rgb(0, 0, 0);
  height: 2vh;
  width: 1vw;
  left: 7vw;
  border-top-right-radius: 1vh;
  border-top-left-radius: 1vh;
  border-bottom-right-radius: 1vh;
  border-bottom-left-radius: 1vh;
}

/* this is the code for the background */
.bodies {
  height: 100%;
  width: 100%;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transition: 0.5s;
  z-index: -1;
}

.iteration {
  animation-iteration-count: infinite;
}

.rotate {
  transform: rotate(-30deg);
}

/* .blur_main {
  filter: blur(13px);
} */

.radius {
  border-bottom-left-radius: 100vh;
  border-top-left-radius: 100vh;
  border-top-right-radius: 100vh;
  border-bottom-right-radius: 100vh;
}

/* body1 divs //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
#body1div1 {
  background-color: rgb(65, 65, 240);
  height: 12vh;
  width: 20vw;
  animation-name: body1div1;
  animation-duration: 3s;
}

@keyframes body1div1 {
  0% {
    top: 8vh;
    left: 20vw;
  }

  50% {
    top: 7vh;
    left: 21.3vw;
  }

  100% {
    top: 8vh;
    left: 20vw;
  }
}

#body1div2 {
  background-color: rgb(129, 129, 241);
  height: 15vh;
  width: 30vw;
  animation-name: body1div2;
  animation-duration: 5s;
}

@keyframes body1div2 {
  0% {
    top: 30vh;
    left: 75vw;
  }

  50% {
    top: 28vh;
    left: 77.3vw;
  }

  100% {
    top: 30vh;
    left: 75vw;
  }
}

#body1div3 {
  background-color: rgb(13, 13, 102);
  animation-name: body1div3;
  animation-duration: 5s;
}

@keyframes body1div3 {
  0% {
    height: 16vh;
    width: 8vw;
    top: 60vh;
    left: 60vw;
  }

  50% {
    height: 12vh;
    width: 6vw;
    top: 62vh;
    left: 61.3vw;
  }

  100% {
    height: 16vh;
    width: 8vw;
    top: 60vh;
    left: 60vw;
  }
}

#body1div4 {
  background-color: rgb(81, 71, 221);
  height: 13vh;
  width: 30vw;
  animation-name: body1div4;
  animation-duration: 3.5s;
}

@keyframes body1div4 {
  0% {
    top: 90vh;
    left: 10vw;
  }

  50% {
    top: 89vh;
    left: 11.3vw;
  }

  100% {
    top: 90vh;
    left: 10vw;
  }
}

#body1div5 {
  background-color: rgb(238, 238, 238);
  height: 20vh;
  width: 30vw;
  animation-name: body1div5;
  animation-duration: 5s;
}

@keyframes body1div5 {
  0% {
    top: 50vh;
    left: 30vw;
  }

  50% {
    top: 49vh;
    left: 31.3vw;
  }

  100% {
    top: 50vh;
    left: 30vw;
  }
}

#body1div6 {
  background-color: rgb(30, 27, 221);
  height: 15vh;
  width: 15vw;
  animation-name: body1div6;
  animation-duration: 5s;
}

@keyframes body1div6 {
  0% {
    top: 10vh;
    left: 70vw;
  }

  50% {
    top: 9vh;
    left: 71.3vw;
  }

  100% {
    top: 10vh;
    left: 70vw;
  }
}

#body1div7 {
  background-color: rgb(32, 31, 83);
  height: 12vh;
  width: 40vw;
  animation-name: body1div7;
  animation-duration: 4s;
}

@keyframes body1div7 {
  0% {
    top: 15vh;
    left: 30vw;
  }

  50% {
    top: 14vh;
    left: 31.3vw;
  }

  100% {
    top: 15vh;
    left: 30vw;
  }
}

#body1div8 {
  background-color: rgb(87, 87, 209);
  animation-name: body1div8;
  animation-duration: 6s;
}

@keyframes body1div8 {
  0% {
    height: 18vh;
    width: 9vw;
    top: 2vh;
    left: 5vw;
  }

  50% {
    height: 14vh;
    width: 7vw;
    top: 4vh;
    left: 6.3vw;
  }

  100% {
    height: 18vh;
    width: 9vw;
    top: 2vh;
    left: 5vw;
  }
}

#body1div9 {
  background-color: rgb(31, 31, 82);
  height: 15vh;
  width: 20vw;
  animation-name: body1div9;
  animation-duration: 3s;
}

@keyframes body1div9 {
  0% {
    top: 85vh;
    left: 70vw;
  }

  50% {
    top: 84vh;
    left: 71.3vw;
  }

  100% {
    top: 85vh;
    left: 70vw;
  }
}

#body1div10 {
  background-color: rgb(233, 233, 233);
  height: 10vh;
  width: 10vw;
  animation-name: body1div10;
  animation-duration: 5s;
}

@keyframes body1div10 {
  0% {
    top: 85vh;
    left: 70vw;
  }

  50% {
    top: 84vh;
    left: 71.3vw;
  }

  100% {
    top: 85vh;
    left: 70vw;
  }
}

#body1div11 {
  background-color: rgb(38, 40, 175);
  height: 10vh;
  width: 30vw;
  animation-name: body1div11;
  animation-duration: 3s;
}

@keyframes body1div11 {
  0% {
    top: 53vh;
    left: 0vw;
  }

  50% {
    top: 52vh;
    left: 1.3vw;
  }

  100% {
    top: 53vh;
    left: 0vw;
  }
}

#body1div12 {
  background-color: rgb(0, 0, 87);
  animation-name: body1div12;
  animation-duration: 6s;
}

@keyframes body1div12 {
  0% {
    height: 20vh;
    width: 10vw;
    top: 55vh;
    left: 87vw;
  }

  50% {
    height: 16vh;
    width: 8vw;
    top: 57vh;
    left: 88.3vw;
  }

  100% {
    height: 20vh;
    width: 10vw;
    top: 55vh;
    left: 87vw;
  }
}

#body1div13 {
  background-color: rgb(21, 21, 138);
  height: 15vh;
  width: 20vw;
  animation-name: body1div13;
  animation-duration: 5s;
}

@keyframes body1div13 {
  0% {
    top: 20vh;
    left: 25vw;
  }

  50% {
    top: 19vh;
    left: 26.3vw;
  }

  100% {
    top: 20vh;
    left: 25vw;
  }
}

#body1div14 {
  background-color: rgb(55, 55, 172);
  height: 10vh;
  width: 20vw;
  animation-name: body1div14;
  animation-duration: 5s;
}

@keyframes body1div14 {
  0% {
    top: 90vh;
    left: 3vw;
  }

  50% {
    top: 89vh;
    left: 4.3vw;
  }

  100% {
    top: 90vh;
    left: 3vw;
  }
}

#body1div15 {
  background-color: rgb(238, 238, 238);
  animation-name: body1div15;
  animation-duration: 6s;
}

@keyframes body1div15 {
  0% {
    height: 20vh;
    width: 10vw;
    top: 75vh;
    left: 5vw;
  }

  50% {
    height: 16vh;
    width: 8vw;
    top: 77vh;
    left: 6.3vw;
  }

  100% {
    height: 20vh;
    width: 10vw;
    top: 75vh;
    left: 5vw;
  }
}

#body1div16 {
  background-color: rgb(44, 32, 207);
  height: 10vh;
  width: 20vw;
  animation-name: body1div16;
  animation-duration: 4s;
}

@keyframes body1div16 {
  0% {
    top: 90vh;
    left: 50vw;
  }

  50% {
    top: 89vh;
    left: 51.3vw;
  }

  100% {
    top: 90vh;
    left: 50vw;
  }
}

#body1div17 {
  background-color: rgb(19, 19, 126);
  height: 10vh;
  width: 40vw;
  animation-name: body1div17;
  animation-duration: 5s;
}

@keyframes body1div17 {
  0% {
    top: 90vh;
    left: 45vw;
  }

  50% {
    top: 89vh;
    left: 46.3vw;
  }

  100% {
    top: 90vh;
    left: 45vw;
  }
}

#body1div18 {
  background-color: rgb(13, 13, 117);
  height: 10vh;
  width: 10vw;
  animation-name: body1div18;
  animation-duration: 4s;
}

@keyframes body1div18 {
  0% {
    top: 85vh;
    left: 18vw;
  }

  50% {
    top: 84vh;
    left: 19.3vw;
  }

  100% {
    top: 85vh;
    left: 18vw;
  }
}

#body1div19 {
  background-color: rgb(245, 245, 247);
  height: 10vh;
  width: 35vw;
  animation-name: body1div19;
  animation-duration: 4s;
}

@keyframes body1div19 {
  0% {
    top: 25vh;
    left: 6vw;
  }

  50% {
    top: 24vh;
    left: 7.3vw;
  }

  100% {
    top: 25vh;
    left: 6vw;
  }
}

#body1div20 {
  background-color: rgb(49, 49, 172);
  height: 10vh;
  width: 40vw;
  animation-name: body1div20;
  animation-duration: 3s;
}

@keyframes body1div20 {
  0% {
    top: 45vh;
    left: 40vw;
  }

  50% {
    top: 44vh;
    left: 41.3vw;
  }

  100% {
    top: 45vh;
    left: 40vw;
  }
}

#body1div21 {
  background-color: rgb(0, 0, 116);
  height: 13vh;
  width: 25vw;
  animation-name: body1div21;
  animation-duration: 6s;
}

@keyframes body1div21 {
  0% {
    top: 33vh;
    left: 65vw;
  }

  50% {
    top: 32vh;
    left: 66.3vw;
  }

  100% {
    top: 33vh;
    left: 65vw;
  }
}

#body1div22 {
  background-color: rgb(9, 9, 192);
  height: 15vh;
  width: 26vw;
  animation-name: body1div22;
  animation-duration: 4s;
}

@keyframes body1div22 {
  0% {
    top: 38vh;
    left: 34vw;
  }

  50% {
    top: 37vh;
    left: 35.3vw;
  }

  100% {
    top: 38vh;
    left: 34vw;
  }
}

#body1div23 {
  background-color: rgb(57, 57, 245);
  height: 15vh;
  width: 25vw;
  animation-name: body1div23;
  animation-duration: 6s;
}

@keyframes body1div23 {
  0% {
    top: 75vh;
    left: 35vw;
  }

  50% {
    top: 74vh;
    left: 36.3vw;
  }

  100% {
    top: 75vh;
    left: 35vw;
  }
}

#body1div24 {
  background-color: rgb(89, 89, 202);
  height: 14vh;
  width: 20vw;
  animation-name: body1div24;
  animation-duration: 6s;
}

@keyframes body1div24 {
  0% {
    top: 55vh;
    left: 15vw;
  }

  50% {
    top: 54vh;
    left: 16.3vw;
  }

  100% {
    top: 55vh;
    left: 15vw;
  }
}

#body1div25 {
  background-color: rgb(63, 63, 185);
  height: 8vh;
  width: 25vw;
  animation-name: body1div25;
  animation-duration: 4s;
}

@keyframes body1div25 {
  0% {
    top: 65vh;
    left: 60vw;
  }

  50% {
    top: 64vh;
    left: 61.3vw;
  }

  100% {
    top: 65vh;
    left: 60vw;
  }
}

#body1div26 {
  background-color: rgb(8, 8, 109);
  height: 15vh;
  width: 25vw;
  animation-name: body1div26;
  animation-duration: 4s;
}

@keyframes body1div26 {
  0% {
    top: 25vh;
    left: -5vw;
  }

  50% {
    top: 24vh;
    left: -3.7vw;
  }

  100% {
    top: 25vh;
    left: -5vw;
  }
}

#body1div27 {
  background-color: rgb(103, 103, 206);
  animation-name: body1div27;
  animation-duration: 4s;
}

@keyframes body1div27 {
  0% {
    height: 18vh;
    width: 9vw;
    top: 15vh;
    left: 57vw;
  }

  50% {
    height: 14vh;
    width: 7vw;
    top: 17vh;
    left: 58.3vw;
  }

  100% {
    height: 18vh;
    width: 9vw;
    top: 15vh;
    left: 57vw;
  }
}

#body1div28 {
  background-color: rgb(51, 51, 153);
  height: 12vh;
  width: 25vw;
  animation-name: body1div28;
  animation-duration: 4s;
}

@keyframes body1div28 {
  0% {
    top: -2vh;
    left: 90vw;
  }

  50% {
    top: -3vh;
    left: 91.3vw;
  }

  100% {
    top: -2vh;
    left: 90vw;
  }
}

#body1div29 {
  background-color: rgb(92, 92, 180);
  height: 12vh;
  width: 25vw;
  animation-name: body1div29;
  animation-duration: 5s;
}

@keyframes body1div29 {
  0% {
    top: 75vh;
    left: 90vw;
  }

  50% {
    top: 74vh;
    left: 91.3vw;
  }

  100% {
    top: 75vh;
    left: 90vw;
  }
}

#body1div30 {
  background-color: rgb(243, 243, 243);
  height: 8vh;
  width: 20vw;
  animation-name: body1div30;
  animation-duration: 7s;
}

@keyframes body1div30 {
  0% {
    top: 75vh;
    left: 87vw;
  }

  50% {
    top: 74vh;
    left: 88.3vw;
  }

  100% {
    top: 75vh;
    left: 87vw;
  }
}

/* body2 divs //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
#body2div1 {
  background-color: rgb(163, 45, 45);
  height: 10vh;
  width: 20vw;
  animation-name: body2div1;
  animation-duration: 3s;
}

@keyframes body2div1 {
  0% {
    top: 3vh;
    left: 80vw;
  }

  50% {
    top: 2vh;
    left: 81.3vw;
  }

  100% {
    top: 3vh;
    left: 80vw;
  }
}

#body2div2 {
  background-color: rgb(241, 129, 129);
  height: 15vh;
  width: 30vw;
  animation-name: body2div2;
  animation-duration: 5s;
}

@keyframes body2div2 {
  0% {
    top: 30vh;
    left: 25vw;
  }

  50% {
    top: 28vh;
    left: 27.3vw;
  }

  100% {
    top: 30vh;
    left: 25vw;
  }
}

#body2div3 {
  background-color: rgb(102, 13, 13);
  animation-name: body2div3;
  animation-duration: 5s;
}

@keyframes body2div3 {
  0% {
    height: 16vh;
    width: 8vw;
    top: 2vh;
    left: 55vw;
  }

  50% {
    height: 12vh;
    width: 6vw;
    top: 4vh;
    left: 56.3vw;
  }

  100% {
    height: 16vh;
    width: 8vw;
    top: 2vh;
    left: 55vw;
  }
}

#body2div4 {
  background-color: rgb(175, 47, 47);
  height: 7vh;
  width: 30vw;
  animation-name: body2div4;
  animation-duration: 3.5s;
}

@keyframes body2div4 {
  0% {
    top: 90vh;
    left: 60vw;
  }

  50% {
    top: 89vh;
    left: 61.3vw;
  }

  100% {
    top: 90vh;
    left: 60vw;
  }
}

#body2div5 {
  background-color: rgb(247, 247, 247);
  height: 20vh;
  width: 25vw;
  animation-name: body2div5;
  animation-duration: 5s;
}

@keyframes body2div5 {
  0% {
    top: 49vh;
    left: 22vw;
  }

  50% {
    top: 48vh;
    left: 23.3vw;
  }

  100% {
    top: 49vh;
    left: 22vw;
  }
}

#body2div6 {
  background-color: rgb(221, 27, 27);
  height: 15vh;
  width: 15vw;
  animation-name: body2div6;
  animation-duration: 5s;
}

@keyframes body2div6 {
  0% {
    top: 5vh;
    left: 0vw;
  }

  50% {
    top: 4vh;
    left: 1.3vw;
  }

  100% {
    top: 5vh;
    left: 0vw;
  }
}

#body2div7 {
  background-color: rgb(139, 39, 39);
  height: 7vh;
  width: 40vw;
  animation-name: body2div7;
  animation-duration: 4s;
}

@keyframes body2div7 {
  0% {
    top: 17vh;
    left: 0vw;
  }

  50% {
    top: 16vh;
    left: 1.3vw;
  }

  100% {
    top: 17vh;
    left: 0vw;
  }
}

#body2div8 {
  background-color: rgb(240, 240, 240);
  animation-name: body2div8;
  animation-duration: 6s;
}

@keyframes body2div8 {
  0% {
    height: 18vh;
    width: 9vw;
    top: 19vh;
    left: 0vw;
  }

  50% {
    height: 14vh;
    width: 7vw;
    top: 21vh;
    left: 1.3vw;
  }

  100% {
    height: 18vh;
    width: 9vw;
    top: 19vh;
    left: 0vw;
  }
}

#body2div9 {
  background-color: rgb(167, 14, 14);
  height: 15vh;
  width: 20vw;
  animation-name: body2div9;
  animation-duration: 3s;
}

@keyframes body2div9 {
  0% {
    top: 85vh;
    left: 85vw;
  }

  50% {
    top: 84vh;
    left: 86.3vw;
  }

  100% {
    top: 85vh;
    left: 85vw;
  }
}

#body2div10 {
  background-color: rgb(238, 238, 238);
  height: 10vh;
  width: 10vw;
  animation-name: body2div10;
  animation-duration: 5s;
}

@keyframes body2div10 {
  0% {
    top: 5vh;
    left: 75vw;
  }

  50% {
    top: 4vh;
    left: 76.3vw;
  }

  100% {
    top: 5vh;
    left: 75vw;
  }
}

#body2div11 {
  background-color: rgb(184, 21, 21);
  height: 15vh;
  width: 22vw;
  animation-name: body2div11;
  animation-duration: 3s;
}

@keyframes body2div11 {
  0% {
    top: 75vh;
    left: 0vw;
  }

  50% {
    top: 74vh;
    left: 1.3vw;
  }

  100% {
    top: 75vh;
    left: 0vw;
  }
}

#body2div12 {
  background-color: rgb(146, 6, 6);
  animation-name: body2div12;
  animation-duration: 6s;
}

@keyframes body2div12 {
  0% {
    height: 20vh;
    width: 10vw;
    top: 5vh;
    left: 89vw;
  }

  50% {
    height: 16vh;
    width: 8vw;
    top: 7vh;
    left: 90.3vw;
  }

  100% {
    height: 20vh;
    width: 10vw;
    top: 5vh;
    left: 89vw;
  }
}

#body2div13 {
  background-color: rgb(218, 107, 107);
  height: 8vh;
  width: 20vw;
  animation-name: body2div13;
  animation-duration: 5s;
}

@keyframes body2div13 {
  0% {
    top: 65vh;
    left: -6vw;
  }

  50% {
    top: 64vh;
    left: -4.7vw;
  }

  100% {
    top: 65vh;
    left: -6vw;
  }
}

#body2div14 {
  background-color: rgb(172, 55, 55);
  height: 10vh;
  width: 30vw;
  animation-name: body2div14;
  animation-duration: 4s;
}

@keyframes body2div14 {
  0% {
    top: 15vh;
    left: 50vw;
  }

  50% {
    top: 14vh;
    left: 51.3vw;
  }

  100% {
    top: 15vh;
    left: 50vw;
  }
}

#body2div15 {
  background-color: rgb(238, 238, 238);
  animation-name: body2div15;
  animation-duration: 6s;
}

@keyframes body2div15 {
  0% {
    height: 20vh;
    width: 10vw;
    top: 1vh;
    left: 40vw;
  }

  50% {
    height: 16vh;
    width: 8vw;
    top: 3vh;
    left: 41.3vw;
  }

  100% {
    height: 20vh;
    width: 10vw;
    top: 1vh;
    left: 40vw;
  }
}

#body2div16 {
  background-color: rgb(204, 81, 81);
  height: 10vh;
  width: 20vw;
  animation-name: body2div16;
  animation-duration: 4s;
}

@keyframes body2div16 {
  0% {
    top: 25vh;
    left: 28vw;
  }

  50% {
    top: 24vh;
    left: 29.3vw;
  }

  100% {
    top: 25vh;
    left: 28vw;
  }
}

#body2div17 {
  background-color: rgb(245, 245, 245);
  height: 10vh;
  width: 40vw;
  animation-name: body2div17;
  animation-duration: 5s;
}

@keyframes body2div17 {
  0% {
    top: 90vh;
    left: 60vw;
  }

  50% {
    top: 89vh;
    left: 61.3vw;
  }

  100% {
    top: 90vh;
    left: 60vw;
  }
}

#body2div18 {
  background-color: rgb(117, 13, 13);
  height: 10vh;
  width: 10vw;
  animation-name: body2div18;
  animation-duration: 4s;
}

@keyframes body2div18 {
  0% {
    top: 50vh;
    left: 20vw;
  }

  50% {
    top: 49vh;
    left: 21.3vw;
  }

  100% {
    top: 50vh;
    left: 20vw;
  }
}

#body2div19 {
  background-color: rgb(231, 3, 3);
  height: 10vh;
  width: 35vw;
  animation-name: body2div19;
  animation-duration: 5s;
}

@keyframes body2div19 {
  0% {
    top: 25vh;
    left: 6vw;
  }

  50% {
    top: 24vh;
    left: 7.3vw;
  }

  100% {
    top: 25vh;
    left: 6vw;
  }
}

#body2div20 {
  background-color: rgb(197, 96, 96);
  height: 10vh;
  width: 40vw;
  animation-name: body2div20;
  animation-duration: 3s;
}

@keyframes body2div20 {
  0% {
    top: 25vh;
    left: 70vw;
  }

  50% {
    top: 24vh;
    left: 71.3vw;
  }

  100% {
    top: 25vh;
    left: 70vw;
  }
}

#body2div21 {
  background-color: rgb(116, 0, 0);
  height: 13vh;
  width: 25vw;
  animation-name: body2div21;
  animation-duration: 6s;
}

@keyframes body2div21 {
  0% {
    top: 63vh;
    left: 35vw;
  }

  50% {
    top: 62vh;
    left: 36.3vw;
  }

  100% {
    top: 63vh;
    left: 35vw;
  }
}

#body2div22 {
  background-color: rgb(206, 18, 18);
  height: 15vh;
  width: 30vw;
  animation-name: body2div22;
  animation-duration: 5s;
}

@keyframes body2div22 {
  0% {
    top: 30vh;
    left: 45vw;
  }

  50% {
    top: 29vh;
    left: 46.3vw;
  }

  100% {
    top: 30vh;
    left: 45vw;
  }
}

#body2div23 {
  background-color: rgb(148, 50, 50);
  height: 10vh;
  width: 25vw;
  animation-name: body2div23;
  animation-duration: 6s;
}

@keyframes body2div23 {
  0% {
    top: 95vh;
    left: 35vw;
  }

  50% {
    top: 94vh;
    left: 36.3vw;
  }

  100% {
    top: 95vh;
    left: 35vw;
  }
}

#body2div24 {
  background-color: rgb(202, 89, 89);
  height: 8vh;
  width: 20vw;
  animation-name: body2div24;
  animation-duration: 5s;
}

@keyframes body2div24 {
  0% {
    top: 90vh;
    left: 15vw;
  }

  50% {
    top: 89vh;
    left: 16.3vw;
  }

  100% {
    top: 90vh;
    left: 15vw;
  }
}

#body2div25 {
  background-color: rgb(185, 63, 63);
  height: 8vh;
  width: 25vw;
  animation-name: body2div25;
  animation-duration: 4s;
}

@keyframes body2div25 {
  0% {
    top: 65vh;
    left: 60vw;
  }

  50% {
    top: 64vh;
    left: 61.3vw;
  }

  100% {
    top: 65vh;
    left: 60vw;
  }
}

#body2div26 {
  background-color: rgb(243, 243, 243);
  height: 8vh;
  width: 25vw;
  animation-name: body2div26;
  animation-duration: 6s;
}

@keyframes body2div26 {
  0% {
    top: 70vh;
    left: 25vw;
  }

  50% {
    top: 69vh;
    left: 26.3vw;
  }

  100% {
    top: 70vh;
    left: 25vw;
  }
}

#body2div27 {
  background-color: rgb(206, 103, 103);
  animation-name: body2div27;
  animation-duration: 4s;
}

@keyframes body2div27 {
  0% {
    height: 18vh;
    width: 9vw;
    top: 45vh;
    left: 62vw;
  }

  50% {
    height: 14vh;
    width: 7vw;
    top: 47vh;
    left: 63.3vw;
  }

  100% {
    height: 18vh;
    width: 9vw;
    top: 45vh;
    left: 62vw;
  }
}

#body2div28 {
  background-color: rgb(224, 31, 31);
  height: 12vh;
  width: 50vw;
  animation-name: body2div28;
  animation-duration: 5s;
}

@keyframes body2div28 {
  0% {
    top: 45vh;
    left: 70vw;
  }

  50% {
    top: 44vh;
    left: 71.3vw;
  }

  100% {
    top: 45vh;
    left: 70vw;
  }
}

#body2div29 {
  background-color: rgb(214, 32, 32);
  height: 12vh;
  width: 25vw;
  animation-name: body2div29;
  animation-duration: 5s;
}

@keyframes body2div29 {
  0% {
    top: 79vh;
    left: 40vw;
  }

  50% {
    top: 78vh;
    left: 41.3vw;
  }

  100% {
    top: 79vh;
    left: 40vw;
  }
}

#body2div30 {
  background-color: rgb(238, 129, 129);
  height: 8vh;
  width: 20vw;
  animation-name: body2div30;
  animation-duration: 7s;
}

@keyframes body2div30 {
  0% {
    top: 1vh;
    left: 10vw;
  }

  50% {
    top: 0vh;
    left: 11.3vw;
  }

  100% {
    top: 1vh;
    left: 10vw;
  }
}

/* body3 divs //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
#body3div1 {
  background-color: rgb(59, 163, 45);
  height: 10vh;
  width: 20vw;
  animation-name: body3div1;
  animation-duration: 3s;
}

@keyframes body3div1 {
  0% {
    top: 1vh;
    left: 60vw;
  }

  50% {
    top: 0vh;
    left: 61.3vw;
  }

  100% {
    top: 1vh;
    left: 60vw;
  }
}

#body3div2 {
  background-color: rgb(122, 209, 114);
  height: 15vh;
  width: 30vw;
  animation-name: body3div2;
  animation-duration: 5s;
}

@keyframes body3div2 {
  0% {
    top: 30vh;
    left: 25vw;
  }

  50% {
    top: 28vh;
    left: 27.3vw;
  }

  100% {
    top: 30vh;
    left: 25vw;
  }
}

#body3div3 {
  background-color: rgb(16, 102, 13);
  animation-name: body3div3;
  animation-duration: 5s;
}

@keyframes body3div3 {
  0% {
    height: 16vh;
    width: 8vw;
    top: 2vh;
    left: 75vw;
  }

  50% {
    height: 12vh;
    width: 6vw;
    top: 4vh;
    left: 76.3vw;
  }

  100% {
    height: 16vh;
    width: 8vw;
    top: 2vh;
    left: 75vw;
  }
}

#body3div4 {
  background-color: rgb(47, 175, 47);
  height: 7vh;
  width: 30vw;
  animation-name: body3div4;
  animation-duration: 3.5s;
}

@keyframes body3div4 {
  0% {
    top: 90vh;
    left: 70vw;
  }

  50% {
    top: 89vh;
    left: 71.3vw;
  }

  100% {
    top: 90vh;
    left: 70vw;
  }
}

#body3div5 {
  background-color: rgb(247, 247, 247);
  height: 15vh;
  width: 15vw;
  animation-name: body3div5;
  animation-duration: 5s;
}

@keyframes body3div5 {
  0% {
    top: 14vh;
    left: 35vw;
  }

  50% {
    top: 13vh;
    left: 36.3vw;
  }

  100% {
    top: 14vh;
    left: 35vw;
  }
}

#body3div6 {
  background-color: rgb(27, 221, 27);
  height: 15vh;
  width: 15vw;
  animation-name: body3div6;
  animation-duration: 5s;
}

@keyframes body3div6 {
  0% {
    top: 90vh;
    left: 0vw;
  }

  50% {
    top: 89vh;
    left: 1.3vw;
  }

  100% {
    top: 90vh;
    left: 0vw;
  }
}

#body3div7 {
  background-color: rgb(42, 139, 39);
  height: 7vh;
  width: 40vw;
  animation-name: body3div7;
  animation-duration: 4s;
}

@keyframes body3div7 {
  0% {
    top: 48vh;
    left: 15vw;
  }

  50% {
    top: 47vh;
    left: 16.3vw;
  }

  100% {
    top: 48vh;
    left: 15vw;
  }
}

#body3div8 {
  background-color: rgb(250, 250, 250);
  animation-name: body3div8;
  animation-duration: 6s;
}

@keyframes body3div8 {
  0% {
    height: 18vh;
    width: 9vw;
    top: 19vh;
    left: 53vw;
  }

  50% {
    height: 14vh;
    width: 7vw;
    top: 21vh;
    left: 54.3vw;
  }

  100% {
    height: 18vh;
    width: 9vw;
    top: 19vh;
    left: 53vw;
  }
}

#body3div9 {
  background-color: rgb(17, 134, 6);
  height: 10vh;
  width: 20vw;
  animation-name: body3div9;
  animation-duration: 3s;
}

@keyframes body3div9 {
  0% {
    top: 85vh;
    left: 85vw;
  }

  50% {
    top: 84vh;
    left: 86.3vw;
  }

  100% {
    top: 85vh;
    left: 85vw;
  }
}

#body3div10 {
  background-color: rgb(61, 207, 48);
  height: 10vh;
  width: 10vw;
  animation-name: body3div10;
  animation-duration: 5s;
}

@keyframes body3div10 {
  0% {
    top: 5vh;
    left: 90vw;
  }

  50% {
    top: 4vh;
    left: 91.3vw;
  }

  100% {
    top: 5vh;
    left: 90vw;
  }
}

#body3div11 {
  background-color: rgb(64, 136, 57);
  height: 10vh;
  width: 12vw;
  animation-name: body3div11;
  animation-duration: 3s;
}

@keyframes body3div11 {
  0% {
    top: 85vh;
    left: 0vw;
  }

  50% {
    top: 84vh;
    left: 1.3vw;
  }

  100% {
    top: 85vh;
    left: 0vw;
  }
}

#body3div12 {
  background-color: rgb(34, 228, 27);
  animation-name: body3div12;
  animation-duration: 6s;
}

@keyframes body3div12 {
  0% {
    height: 20vh;
    width: 10vw;
    top: 75vh;
    left: 79vw;
  }

  50% {
    height: 16vh;
    width: 8vw;
    top: 77vh;
    left: 80.3vw;
  }

  100% {
    height: 20vh;
    width: 10vw;
    top: 75vh;
    left: 79vw;
  }
}

#body3div13 {
  background-color: rgb(107, 218, 107);
  height: 8vh;
  width: 20vw;
  animation-name: body3div13;
  animation-duration: 5s;
}

@keyframes body3div13 {
  0% {
    top: 35vh;
    left: -6vw;
  }

  50% {
    top: 34vh;
    left: -4.7vw;
  }

  100% {
    top: 35vh;
    left: -6vw;
  }
}

#body3div14 {
  background-color: rgb(65, 172, 55);
  height: 10vh;
  width: 20vw;
  animation-name: body3div14;
  animation-duration: 4s;
}

@keyframes body3div14 {
  0% {
    top: 90vh;
    left: 50vw;
  }

  50% {
    top: 89vh;
    left: 51.3vw;
  }

  100% {
    top: 90vh;
    left: 50vw;
  }
}

#body3div15 {
  background-color: rgb(110, 202, 98);
  animation-name: body3div15;
  animation-duration: 6s;
}

@keyframes body3div15 {
  0% {
    height: 20vh;
    width: 10vw;
    top: 80vh;
    left: 20vw;
  }

  50% {
    height: 16vh;
    width: 8vw;
    top: 82vh;
    left: 21.3vw;
  }

  100% {
    height: 20vh;
    width: 10vw;
    top: 80vh;
    left: 20vw;
  }
}

#body3div16 {
  background-color: rgb(44, 184, 26);
  height: 10vh;
  width: 20vw;
  animation-name: body3div16;
  animation-duration: 4s;
}

@keyframes body3div16 {
  0% {
    top: 85vh;
    left: 22vw;
  }

  50% {
    top: 84vh;
    left: 23.3vw;
  }

  100% {
    top: 85vh;
    left: 22vw;
  }
}

#body3div17 {
  background-color: rgb(245, 245, 245);
  height: 10vh;
  width: 40vw;
  animation-name: body3div17;
  animation-duration: 5s;
}

@keyframes body3div17 {
  0% {
    top: 90vh;
    left: 45vw;
  }

  50% {
    top: 89vh;
    left: 46.3vw;
  }

  100% {
    top: 90vh;
    left: 45vw;
  }
}

#body3div18 {
  background-color: rgb(25, 117, 13);
  height: 13vh;
  width: 30vw;
  animation-name: body3div18;
  animation-duration: 4s;
}

@keyframes body3div18 {
  0% {
    top: 82vh;
    left: 27vw;
  }

  50% {
    top: 81vh;
    left: 28.3vw;
  }

  100% {
    top: 82vh;
    left: 27vw;
  }
}

#body3div19 {
  background-color: rgb(22, 231, 3);
  height: 10vh;
  width: 35vw;
  animation-name: body3div19;
  animation-duration: 5s;
}

@keyframes body3div19 {
  0% {
    top: 28vh;
    left: 6vw;
  }

  50% {
    top: 27vh;
    left: 7.3vw;
  }

  100% {
    top: 28vh;
    left: 6vw;
  }
}

#body3div20 {
  background-color: rgb(96, 197, 104);
  height: 10vh;
  width: 40vw;
  animation-name: body3div20;
  animation-duration: 3s;
}

@keyframes body3div20 {
  0% {
    top: 25vh;
    left: 70vw;
  }

  50% {
    top: 24vh;
    left: 71.3vw;
  }

  100% {
    top: 25vh;
    left: 70vw;
  }
}

#body3div21 {
  background-color: rgb(0, 116, 6);
  height: 13vh;
  width: 25vw;
  animation-name: body3div21;
  animation-duration: 6s;
}

@keyframes body3div21 {
  0% {
    top: 3vh;
    left: 20vw;
  }

  50% {
    top: 2vh;
    left: 21.3vw;
  }

  100% {
    top: 3vh;
    left: 20vw;
  }
}

#body3div22 {
  background-color: rgb(18, 206, 27);
  height: 10vh;
  width: 20vw;
  animation-name: body3div22;
  animation-duration: 5s;
}

@keyframes body3div22 {
  0% {
    top: 77vh;
    left: 45vw;
  }

  50% {
    top: 76vh;
    left: 46.3vw;
  }

  100% {
    top: 77vh;
    left: 45vw;
  }
}

#body3div23 {
  background-color: rgb(29, 209, 29);
  height: 10vh;
  width: 25vw;
  animation-name: body3div23;
  animation-duration: 6s;
}

@keyframes body3div23 {
  0% {
    top: 55vh;
    left: 0vw;
  }

  50% {
    top: 54vh;
    left: 1.3vw;
  }

  100% {
    top: 55vh;
    left: 0vw;
  }
}

#body3div24 {
  background-color: rgb(26, 121, 31);
  height: 8vh;
  width: 40vw;
  animation-name: body3div24;
  animation-duration: 5s;
}

@keyframes body3div24 {
  0% {
    top: 54vh;
    left: 40vw;
  }

  50% {
    top: 53vh;
    left: 41.3vw;
  }

  100% {
    top: 54vh;
    left: 40vw;
  }
}

#body3div25 {
  background-color: rgb(77, 185, 63);
  height: 18vh;
  width: 25vw;
  animation-name: body3div25;
  animation-duration: 4s;
}

@keyframes body3div25 {
  0% {
    top: 45vh;
    left: 80vw;
  }

  50% {
    top: 44vh;
    left: 81.3vw;
  }

  100% {
    top: 45vh;
    left: 80vw;
  }
}

#body3div26 {
  background-color: rgb(6, 85, 0);
  height: 12vh;
  width: 30vw;
  animation-name: body3div26;
  animation-duration: 6s;
}

@keyframes body3div26 {
  0% {
    top: 58vh;
    left: 25vw;
  }

  50% {
    top: 57vh;
    left: 26.3vw;
  }

  100% {
    top: 58vh;
    left: 25vw;
  }
}

#body3div27 {
  background-color: rgb(120, 206, 103);
  animation-name: body3div27;
  animation-duration: 4s;
}

@keyframes body3div27 {
  0% {
    height: 18vh;
    width: 9vw;
    top: 55vh;
    left: 69vw;
  }

  50% {
    height: 14vh;
    width: 7vw;
    top: 57vh;
    left: 70.3vw;
  }

  100% {
    height: 18vh;
    width: 9vw;
    top: 55vh;
    left: 69vw;
  }
}

#body3div28 {
  background-color: rgb(47, 224, 31);
  height: 12vh;
  width: 30vw;
  animation-name: body3div28;
  animation-duration: 5s;
}

@keyframes body3div28 {
  0% {
    top: 25vh;
    left: 60vw;
  }

  50% {
    top: 24vh;
    left: 61.3vw;
  }

  100% {
    top: 25vh;
    left: 60vw;
  }
}

#body3div29 {
  background-color: rgb(32, 214, 32);
  height: 12vh;
  width: 25vw;
  animation-name: body3div29;
  animation-duration: 5s;
}

@keyframes body3div29 {
  0% {
    top: 5vh;
    left: 5vw;
  }

  50% {
    top: 4vh;
    left: 6.3vw;
  }

  100% {
    top: 5vh;
    left: 5vw;
  }
}

#body3div30 {
  background-color: rgb(129, 238, 138);
  height: 8vh;
  width: 20vw;
  animation-name: body3div30;
  animation-duration: 7s;
}

@keyframes body3div30 {
  0% {
    top: 7vh;
    left: 0vw;
  }

  50% {
    top: 6vh;
    left: 1.3vw;
  }

  100% {
    top: 7vh;
    left: 0vw;
  }
}

/* body4 divs //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
#body4div1 {
  background-color: rgb(143, 45, 163);
  height: 10vh;
  width: 20vw;
  animation-name: body4div1;
  animation-duration: 3s;
}

@keyframes body4div1 {
  0% {
    top: 1vh;
    left: 70vw;
  }

  50% {
    top: 0vh;
    left: 71.3vw;
  }

  100% {
    top: 1vh;
    left: 70vw;
  }
}

#body4div2 {
  background-color: rgb(190, 114, 209);
  height: 15vh;
  width: 30vw;
  animation-name: body4div2;
  animation-duration: 5s;
}

@keyframes body4div2 {
  0% {
    top: 30vh;
    left: 15vw;
  }

  50% {
    top: 28vh;
    left: 17.3vw;
  }

  100% {
    top: 30vh;
    left: 15vw;
  }
}

#body4div3 {
  background-color: rgb(95, 13, 102);
  animation-name: body4div3;
  animation-duration: 5s;
}

@keyframes body4div3 {
  0% {
    height: 16vh;
    width: 8vw;
    top: 2vh;
    left: 85vw;
  }

  50% {
    height: 12vh;
    width: 6vw;
    top: 4vh;
    left: 86.3vw;
  }

  100% {
    height: 16vh;
    width: 8vw;
    top: 2vh;
    left: 85vw;
  }
}

#body4div4 {
  background-color: rgb(164, 47, 175);
  height: 7vh;
  width: 30vw;
  animation-name: body4div4;
  animation-duration: 3.5s;
}

@keyframes body4div4 {
  0% {
    top: 80vh;
    left: 70vw;
  }

  50% {
    top: 79vh;
    left: 71.3vw;
  }

  100% {
    top: 80vh;
    left: 70vw;
  }
}

#body4div5 {
  background-color: rgb(247, 247, 247);
  height: 15vh;
  width: 15vw;
  animation-name: body4div5;
  animation-duration: 5s;
}

@keyframes body4div5 {
  0% {
    top: 14vh;
    left: 70vw;
  }

  50% {
    top: 13vh;
    left: 71.3vw;
  }

  100% {
    top: 14vh;
    left: 70vw;
  }
}

#body4div6 {
  background-color: rgb(198, 27, 221);
  height: 12vh;
  width: 20vw;
  animation-name: body4div6;
  animation-duration: 5s;
}

@keyframes body4div6 {
  0% {
    top: 80vh;
    left: 0vw;
  }

  50% {
    top: 79vh;
    left: 1.3vw;
  }

  100% {
    top: 80vh;
    left: 0vw;
  }
}

#body4div7 {
  background-color: rgb(119, 39, 139);
  height: 7vh;
  width: 40vw;
  animation-name: body4div7;
  animation-duration: 4s;
}

@keyframes body4div7 {
  0% {
    top: 88vh;
    left: 15vw;
  }

  50% {
    top: 87vh;
    left: 16.3vw;
  }

  100% {
    top: 88vh;
    left: 15vw;
  }
}

#body4div8 {
  background-color: rgb(136, 41, 145);
  animation-name: body4div8;
  animation-duration: 6s;
}

@keyframes body4div8 {
  0% {
    height: 18vh;
    width: 9vw;
    top: 83vh;
    left: 83vw;
  }

  50% {
    height: 14vh;
    width: 7vw;
    top: 85vh;
    left: 84.3vw;
  }

  100% {
    height: 18vh;
    width: 9vw;
    top: 83vh;
    left: 83vw;
  }
}

#body4div9 {
  background-color: rgb(104, 6, 134);
  height: 10vh;
  width: 20vw;
  animation-name: body4div9;
  animation-duration: 3s;
}

@keyframes body4div9 {
  0% {
    top: 15vh;
    left: 85vw;
  }

  50% {
    top: 14vh;
    left: 86.3vw;
  }

  100% {
    top: 15vh;
    left: 85vw;
  }
}

#body4div10 {
  background-color: rgb(194, 48, 207);
  height: 10vh;
  width: 10vw;
  animation-name: body4div10;
  animation-duration: 5s;
}

@keyframes body4div10 {
  0% {
    top: 5vh;
    left: 90vw;
  }

  50% {
    top: 4vh;
    left: 91.3vw;
  }

  100% {
    top: 5vh;
    left: 90vw;
  }
}

#body4div11 {
  background-color: rgb(127, 57, 136);
  height: 10vh;
  width: 12vw;
  animation-name: body4div11;
  animation-duration: 3s;
}

@keyframes body4div11 {
  0% {
    top: 85vh;
    left: 7vw;
  }

  50% {
    top: 84vh;
    left: 8.3vw;
  }

  100% {
    top: 85vh;
    left: 7vw;
  }
}

#body4div12 {
  background-color: rgb(221, 27, 228);
  animation-name: body4div12;
  animation-duration: 6s;
}

@keyframes body4div12 {
  0% {
    height: 20vh;
    width: 10vw;
    top: 3vh;
    left: 5vw;
  }

  50% {
    height: 16vh;
    width: 8vw;
    top: 5vh;
    left: 6.3vw;
  }

  100% {
    height: 20vh;
    width: 10vw;
    top: 3vh;
    left: 5vw;
  }
}

#body4div13 {
  background-color: rgb(100, 11, 117);
  height: 8vh;
  width: 20vw;
  animation-name: body4div13;
  animation-duration: 5s;
}

@keyframes body4div13 {
  0% {
    top: 20vh;
    left: -6vw;
  }

  50% {
    top: 19vh;
    left: -4.7vw;
  }

  100% {
    top: 20vh;
    left: -6vw;
  }
}

#body4div14 {
  background-color: rgb(139, 45, 194);
  height: 10vh;
  width: 20vw;
  animation-name: body4div14;
  animation-duration: 4s;
}

@keyframes body4div14 {
  0% {
    top: 3vh;
    left: 50vw;
  }

  50% {
    top: 2vh;
    left: 51.3vw;
  }

  100% {
    top: 3vh;
    left: 50vw;
  }
}

#body4div15 {
  background-color: rgb(190, 98, 202);
  animation-name: body4div15;
  animation-duration: 6s;
}

@keyframes body4div15 {
  0% {
    height: 20vh;
    width: 10vw;
    top: 80vh;
    left: 20vw;
  }

  50% {
    height: 16vh;
    width: 8vw;
    top: 82vh;
    left: 21.3vw;
  }

  100% {
    height: 20vh;
    width: 10vw;
    top: 80vh;
    left: 20vw;
  }
}

#body4div16 {
  background-color: rgb(152, 26, 184);
  height: 10vh;
  width: 20vw;
  animation-name: body4div16;
  animation-duration: 4s;
}

@keyframes body4div16 {
  0% {
    top: 55vh;
    left: 22vw;
  }

  50% {
    top: 54vh;
    left: 23.3vw;
  }

  100% {
    top: 55vh;
    left: 22vw;
  }
}

#body4div17 {
  background-color: rgb(245, 245, 245);
  height: 15vh;
  width: 40vw;
  animation-name: body4div17;
  animation-duration: 5s;
}

@keyframes body4div17 {
  0% {
    top: 90vh;
    left: 17vw;
  }

  50% {
    top: 89vh;
    left: 18.3vw;
  }

  100% {
    top: 90vh;
    left: 17vw;
  }
}

#body4div18 {
  background-color: rgb(100, 13, 117);
  height: 13vh;
  width: 30vw;
  animation-name: body4div18;
  animation-duration: 4s;
}

@keyframes body4div18 {
  0% {
    top: 17vh;
    left: 17vw;
  }

  50% {
    top: 16vh;
    left: 18.3vw;
  }

  100% {
    top: 17vh;
    left: 17vw;
  }
}

#body4div19 {
  background-color: rgb(185, 3, 231);
  height: 10vh;
  width: 35vw;
  animation-name: body4div19;
  animation-duration: 5s;
}

@keyframes body4div19 {
  0% {
    top: 10vh;
    left: 5vw;
  }

  50% {
    top: 9vh;
    left: 6.3vw;
  }

  100% {
    top: 10vh;
    left: 5vw;
  }
}

#body4div20 {
  background-color: rgb(174, 96, 197);
  height: 10vh;
  width: 40vw;
  animation-name: body4div20;
  animation-duration: 3s;
}

@keyframes body4div20 {
  0% {
    top: 35vh;
    left: 70vw;
  }

  50% {
    top: 34vh;
    left: 71.3vw;
  }

  100% {
    top: 35vh;
    left: 70vw;
  }
}

#body4div21 {
  background-color: rgb(97, 0, 116);
  height: 13vh;
  width: 25vw;
  animation-name: body4div21;
  animation-duration: 6s;
}

@keyframes body4div21 {
  0% {
    top: 58vh;
    left: 30vw;
  }

  50% {
    top: 57vh;
    left: 31.3vw;
  }

  100% {
    top: 58vh;
    left: 30vw;
  }
}

#body4div22 {
  background-color: rgb(168, 18, 206);
  height: 10vh;
  width: 20vw;
  animation-name: body4div22;
  animation-duration: 5s;
}

@keyframes body4div22 {
  0% {
    top: 80vh;
    left: 45vw;
  }

  50% {
    top: 79vh;
    left: 46.3vw;
  }

  100% {
    top: 80vh;
    left: 45vw;
  }
}

#body4div23 {
  background-color: rgb(242, 243, 242);
  height: 10vh;
  width: 25vw;
  animation-name: body4div23;
  animation-duration: 6s;
}

@keyframes body4div23 {
  0% {
    top: 60vh;
    left: 10vw;
  }

  50% {
    top: 59vh;
    left: 11.3vw;
  }

  100% {
    top: 60vh;
    left: 10vw;
  }
}

#body4div24 {
  background-color: rgb(105, 26, 121);
  height: 9vh;
  width: 40vw;
  animation-name: body4div24;
  animation-duration: 5s;
}

@keyframes body4div24 {
  0% {
    top: 48vh;
    left: 40vw;
  }

  50% {
    top: 47vh;
    left: 41.3vw;
  }

  100% {
    top: 48vh;
    left: 40vw;
  }
}

#body4div25 {
  background-color: rgb(121, 46, 136);
  height: 18vh;
  width: 25vw;
  animation-name: body4div25;
  animation-duration: 4s;
}

@keyframes body4div25 {
  0% {
    top: 39vh;
    left: 80vw;
  }

  50% {
    top: 38vh;
    left: 81.3vw;
  }

  100% {
    top: 39vh;
    left: 80vw;
  }
}

#body4div26 {
  background-color: rgb(71, 0, 85);
  height: 12vh;
  width: 25vw;
  animation-name: body4div26;
  animation-duration: 6s;
}

@keyframes body4div26 {
  0% {
    top: 80vh;
    left: 55vw;
  }

  50% {
    top: 79vh;
    left: 56.3vw;
  }

  100% {
    top: 80vh;
    left: 55vw;
  }
}

#body4div27 {
  background-color: rgb(243, 242, 243);
  animation-name: body4div27;
  animation-duration: 4s;
}

@keyframes body4div27 {
  0% {
    height: 18vh;
    width: 9vw;
    top: 55vh;
    left: 63vw;
  }

  50% {
    height: 14vh;
    width: 7vw;
    top: 57vh;
    left: 64.3vw;
  }

  100% {
    height: 18vh;
    width: 9vw;
    top: 55vh;
    left: 63vw;
  }
}

#body4div28 {
  background-color: rgb(169, 31, 224);
  height: 6vh;
  width: 30vw;
  animation-name: body4div28;
  animation-duration: 5s;
}

@keyframes body4div28 {
  0% {
    top: 38vh;
    left: 40vw;
  }

  50% {
    top: 37vh;
    left: 41.3vw;
  }

  100% {
    top: 38vh;
    left: 40vw;
  }
}

#body4div29 {
  background-color: rgb(184, 32, 214);
  height: 12vh;
  width: 25vw;
  animation-name: body4div29;
  animation-duration: 5s;
}

@keyframes body4div29 {
  0% {
    top: 55vh;
    left: 0vw;
  }

  50% {
    top: 54vh;
    left: 1.3vw;
  }

  100% {
    top: 55vh;
    left: 0vw;
  }
}

#body4div30 {
  background-color: rgb(212, 129, 238);
  height: 10vh;
  width: 30vw;
  animation-name: body4div30;
  animation-duration: 7s;
}

@keyframes body4div30 {
  0% {
    top: 20vh;
    left: 45vw;
  }

  50% {
    top: 19vh;
    left: 46.3vw;
  }

  100% {
    top: 20vh;
    left: 45vw;
  }
}

/* for phone users */
#phone_tilt {
  z-index: 200;
  background-color: white;
  height: 200%;
  width: 200%;
  display: none;
  font-size: 5vw;
}

@media all and (max-width: 500px) {
  #phone_tilt {
    display: unset;
  }
}

@media all and (max-width: 1180px) {

  * {
    font-family: 'Times New Roman';
    overflow: hidden;
  }

  #login_a {
    top: 1%;
    right: 12%;
    overflow: unset;
  }

  #This_weeks_game_tital {
    width: 27%;
    top: 3%;
    left: 47%;
    overflow: unset;
  }

  #This_weeks_game {
    width: 23%;
    top: 14%;
    left: 51%;
    overflow: unset;
  }

  #prize {
    top: 40%;
    left: 37%;
    overflow: unset;
  }

  #your_rank {
    width: 17vw;
    top: 45%;
    left: 37%;
    overflow: unset;
  }

  #your_rank_p {
    font-size: 1.5vw;
  }

  .phone_none {
    display: none;
  }

  #body1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(blue.png);
  }

  #body2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(red.png);
  }

  #body3 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(green.png);
  }

  #body4 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(purple.png);
  }

}