asgiref==3.4.1
autopep8==1.6.0
backports.zoneinfo==0.2.1
Django==3.2.2
pycodestyle==2.8.0
sqlparse==0.4.2
toml==0.10.2
django-crispy-forms==1.7.2
urllib3==1.23
requests==2.19.1
pytz==2018.5
Pillow==5.2.0

