form{
    position: absolute;
    top: 18vh;
    left: 26vw;
}
p{
    left: -5vw;
}
#id_new_password1{
    z-index: 2;
}
#id_new_password2{
    z-index: 2;
    position: absolute;
    top: 12vh;
}
ul{
    position: absolute;
    top: 20vh;
}
li{
    font-size: 1.1vw;
    width: 75vh;
}
label{
    font-size: 2.5vw;
}
input{
    font-size: 1vw;
      position: absolute;
      top: 2.2vh;
      border-bottom-left-radius: 1.5vh;
      border-top-left-radius: 1.5vh;
      border-top-right-radius: 1.5vh;
      border-bottom-right-radius: 1.5vh;
      border: solid;
      border-color: rgb(190, 190, 190);
      height: 5vh;
      width: 20vw;
      background-color: rgb(233, 233, 233);
  }
.errorlist{
    background-color: rgba(255, 189, 189, 0.692);
    position: absolute;
    font-size: 1vw;
    width: 30vw;
    top: 35vh;
    border-bottom-left-radius: 1vh;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
}
button{
    position: absolute;
    border-bottom-left-radius: 1.5vh;
    border-top-left-radius: 1.5vh;
    border-top-right-radius: 1.5vh;
    border-bottom-right-radius: 1.5vh;
    border: medium;
    border-color: rgb(190, 190, 190);
    background-color: rgb(230, 230, 230);
    color: black;
    height: 10vh;
    width: 20vw;
    top: 50vh;
    left: 50%;
    font-size: 2vw;
    transition: 0.3s;
    z-index: 20;
}
#password_reset_button:hover{
    border-color: black;
    background-color: rgb(190, 190, 190);
}
#background{
    position: absolute;
    background-color: rgba(238, 238, 238, 0.692);
    transform: translate(-50%, -50%);
    z-index: -1;
    top: 50%;
    left: 52.5%;
    height: 80%;
    width: 55%;
    border-bottom-left-radius: 3vh;
    border-top-left-radius: 3vh;
    border-top-right-radius: 3vh;
    border-bottom-right-radius: 3vh;
}