h1{
    background-color: rgba(233, 233, 233, 0.699);
    position: absolute;
    top: 5vh;
    left: 30vw;
    border-bottom-left-radius: 1vh;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
    padding: 1%;
}
#back_home{
    background-color: rgba(233, 233, 233, 0.699);
    position: absolute;
    font-size: 2vw;
    top: 50vh;
    left: 36vw;
    border-bottom-left-radius: 1vh;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
    text-decoration: none;
    padding: 1%;
    transition: 0.5s;
}
#back_home:hover{
    background-color: rgba(207, 207, 207, 0.699);
}