#password_reset{
    width: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#password_reset_p{
    font-size: 3vw;
}
#form{
    top: 25vh;
    left: 40vw;
    transform: translate(-50%, -50%);
}
label{
    font-size: 2.5vw;
}
input{
  font-size: 1vw;
    position: absolute;
    top: 2.2vh;
    border-bottom-left-radius: 1.5vh;
    border-top-left-radius: 1.5vh;
    border-top-right-radius: 1.5vh;
    border-bottom-right-radius: 1.5vh;
    border: solid;
    border-color: rgb(190, 190, 190);
    height: 5vh;
    width: 20vw;
    background-color: rgb(233, 233, 233);
}
.errorlist{
  background-color: rgba(238, 238, 238, 0.692);
  position: absolute;
  font-size: 1vw;
  width: 30vw;
  left: -2.5vw;
  top: 10vh;
  border-bottom-left-radius: 1vh;
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;
  border-bottom-right-radius: 1vh;
}
#password_reset_button{
  border-bottom-left-radius: 1.5vh;
  border-top-left-radius: 1.5vh;
  border-top-right-radius: 1.5vh;
  border-bottom-right-radius: 1.5vh;
    border: medium;
    border-color: rgb(190, 190, 190);
    background-color: rgb(230, 230, 230);
    color: black;
    height: 10%;
    width: 20%;
    top: 40vh;
    left: 40%;
    font-size: 2vw;
    transition: 0.3s;
}
#password_reset_button:hover{
    border-color: black;
    background-color: rgb(190, 190, 190);
}