h1{
    border-bottom-left-radius: 1.5vh;
    border-top-left-radius: 1.5vh;
    border-top-right-radius: 1.5vh;
    border-bottom-right-radius: 1.5vh;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: black;
    background-color: rgba(145, 145, 145, 0.555);
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 0.5%;
  }