{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> password reset </title>
    <link rel="stylesheet" href=" {% static 'terms_and_conditions/terms_and_conditions.css' %} ">
    <link rel="stylesheet" href=" {% static 'css/styles.css' %} ">
</head>

<body class="terms_and_conditions_bodys">

    <div class="absolute" id="phone_tilt">
        <p>Tilt your phone horizontally to get the best experience...</p>
    </div>

    <a href="{% url 'home' %}">
        <div class="absolute_tc center" id="logo">
            <div class="absolute_tc" id="logoimg"></div>
            <p class="p" id="cubicalblock">CubicalBlock</p>
        </div>
    </a>

    <div id="container_terms_and_conditions">

        <div class="absolute_tc iteration_tc rotate_tc blur_tc radius_tc phone_none" id="container_tc_div1"></div>
        <div class="absolute_tc iteration_tc rotate_tc blur_tc radius_tc phone_none" id="container_tc_div2"></div>
        <div class="absolute_tc iteration_tc rotate_tc blur_tc radius_tc phone_none" id="container_tc_div3"></div>
        <div class="absolute_tc iteration_tc rotate_tc blur_tc radius_tc phone_none" id="container_tc_div4"></div>
        <div class="absolute_tc iteration_tc rotate_tc blur_tc radius_tc phone_none" id="container_tc_div5"></div>
        <div class="absolute_tc iteration_tc rotate_tc blur_tc radius_tc phone_none" id="container_tc_div6"></div>
        <div class="absolute_tc iteration_tc rotate_tc blur_tc radius_tc phone_none" id="container_tc_div7"></div>
        <div class="absolute_tc iteration_tc rotate_tc blur_tc radius_tc phone_none" id="container_tc_div8"></div>
        <div class="absolute_tc iteration_tc rotate_tc blur_tc radius_tc phone_none" id="container_tc_div9"></div>
        <div class="absolute_tc iteration_tc rotate_tc blur_tc radius_tc phone_none" id="container_tc_div10"></div>
        <div class="absolute_tc iteration_tc rotate_tc blur_tc radius_tc phone_none" id="container_tc_div11"></div>
        <div class="absolute_tc iteration_tc rotate_tc blur_tc radius_tc phone_none" id="container_tc_div12"></div>
        <div class="absolute_tc iteration_tc rotate_tc blur_tc radius_tc phone_none" id="container_tc_div13"></div>
        <div class="absolute_tc iteration_tc rotate_tc blur_tc radius_tc phone_none" id="container_tc_div14"></div>
        <div class="absolute_tc iteration_tc rotate_tc blur_tc radius_tc phone_none" id="container_tc_div15"></div>
        <div class="absolute_tc iteration_tc rotate_tc blur_tc radius_tc phone_none" id="container_tc_div16"></div>
        <div class="absolute_tc iteration_tc rotate_tc blur_tc radius_tc phone_none" id="container_tc_div17"></div>
        <div class="absolute_tc iteration_tc rotate_tc blur_tc radius_tc phone_none" id="container_tc_div18"></div>
        <div class="absolute_tc iteration_tc rotate_tc blur_tc radius_tc phone_none" id="container_tc_div19"></div>
        <div class="absolute_tc iteration_tc rotate_tc blur_tc radius_tc phone_none" id="container_tc_div20"></div>
        <div class="absolute_tc iteration_tc rotate_tc blur_tc radius_tc phone_none" id="container_tc_div21"></div>
        <div class="absolute_tc iteration_tc rotate_tc blur_tc radius_tc phone_none" id="container_tc_div22"></div>
        <div class="absolute_tc iteration_tc rotate_tc blur_tc radius_tc phone_none" id="container_tc_div23"></div>
        <div class="absolute_tc iteration_tc rotate_tc blur_tc radius_tc phone_none" id="container_tc_div24"></div>
        <div class="absolute_tc iteration_tc rotate_tc blur_tc radius_tc phone_none" id="container_tc_div25"></div>
        <div class="absolute_tc iteration_tc rotate_tc blur_tc radius_tc phone_none" id="container_tc_div26"></div>
        <div class="absolute_tc iteration_tc rotate_tc blur_tc radius_tc phone_none" id="container_tc_div27"></div>
        <div class="absolute_tc iteration_tc rotate_tc blur_tc radius_tc phone_none" id="container_tc_div28"></div>
        <div class="absolute_tc iteration_tc rotate_tc blur_tc radius_tc phone_none" id="container_tc_div29"></div>
        <div class="absolute_tc iteration_tc rotate_tc blur_tc radius_tc phone_none" id="container_tc_div30"></div>

    </div>

    <div id="terms_and_conditions">

        <h1 class="absolute_tc transform_tc z-index">Terms and conditions</h1>
        <p class="paragraphs z-index" id="p1">
            Introduction: cubicalblock.com is a website where you win a certain prize at the end of each competition,
            only if you are the first in the leaderboard (the time it took you to finish the exam was less than all
            other participants in the competition), the prize can increase depending on the number of participants
            (more participants means a bigger prize), you have the right to participate as many times as you want,
            and only the better score (shorter time) will be recorded each time you participate.
        </p>
        <p class="paragraphs z-index" id="p2">
            Leaderboard: the leaderboard is where the scores of all participants is displayed and ranked from the
            highest score to the lowest score (the score is the time it took the participant to finish the game),
            you will be able to see your score at the bottom of the leaderboard with your ranking, even if you are
            not one of the top 10 participants.
        </p>
        <h2 class="absolute_tc transform_tc z-index">Conditions</h2>
        <h3 class="absolute_tc z-index subh">Cheating-scores-leaderboard:</h3>
        <p class="paragraphs z-index" id="p3">
            • We have the right to remove your score from the leaderboard in case we detect that you have cheated
            when solving the game (this applies to all games we have in cubicalblock.com).
        </p>
        <p class="paragraphs z-index" id="p4">
            • Opening the browser console (inspecting the browsers page while you are solving the game) is
            considered cheating and your score will not be logged into our database and you will not see it in the
            leaderboard after you finish solving the game, with that being said, your score will be logged in our
            database and you will see it in the leaderboard if you exit the game page and try again WITHOUT opening
            the console or cheating in any form, (using a calculator is not considered cheating).
        </p>
        <p class="paragraphs z-index" id="p5">
            • We have many ways to determine if you are cheating or not, and we have the right to decide if you have
            cheated or not without notifying you or explaining (proving) to you how we know that you have cheated
            while solving the game.
        </p>
        <p class="paragraphs z-index" id="p6">
            • We have the right to suspend or delete your account if we detect frequent suspicious behavior (cheating).
        </p>
        <h4 class="absolute_tc z-index subh">Account names:</h4>
        <p class="paragraphs z-index" id="p7">
            • We are not responsible for any racist, sexist, or any other form of username that any user uses as their
            profile name.
        </p>
        <h5 class="absolute_tc z-index subh">Practice-playing with your friends:</h5>
        <p class="paragraphs z-index" id="p8">
            • If you are practicing solving the games, and or if you play with your friends in a privet party (coming soon), your
            score will not be displayed on the leaderboard and will NOT be logged in our database and will not be
            considered as a participation in the competition, and there are no prizes for ether practicing the games
            or playing with your friends.
        </p>
        <h6 class="absolute_tc z-index subh">Prizes:</h6>
        <p class="paragraphs z-index" id="p9">
            • In case you got the best score throughout the competition, you must have a PayPal account so that we
            can transfer the prize to you, we will not be able to send you the prize to your bank account and or to any
            other wallet of any kind other than PayPal.
        </p>

    </div>

    <div class="absolute_tc" id="paragraphs_background"></div>


</body>

</html>