* {
  font-family: cursive, fantasy, 'Times New Roman';
}

body {
  overflow-y: unset !important;
}

.terms_and_conditions_bodys {
  margin: 0%;
  overflow: hidden;
  background-color: rgb(223, 223, 223);
}

#container_terms_and_conditions {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.p {
  pointer-events: none;
  position: absolute;
  font-size: 3vw;
  z-index: 2;
}

.absolute_tc {
  position: absolute;
}

.iteration_tc {
  animation-iteration-count: infinite;
}

.rotate_tc {
  transform: rotate(-30deg);
}

.blur_tc {
  filter: blur(7px);
  z-index: -1;
}

.radius_tc {
  border-bottom-left-radius: 100vh;
  border-top-left-radius: 100vh;
  border-top-right-radius: 100vh;
  border-bottom-right-radius: 100vh;
}

/* for the logo */
#logo {
  background-color: rgba(233, 233, 233, 0.616);
  width: 20vw !important;
  z-index: 2 !important;
}

#cubicalblock {
  left: 6vw !important;
}

#logoimg {
  position: fixed !important;
}

/* for the paragraphs and h */
.transform_tc {
  transform: translate(-50%, 0%);
}

.z-index {
  z-index: 1;
}

.paragraphs {
  font-size: 1.2vw;
  position: absolute;
  padding: 1.5vh;
  left: 11vw;
  right: 11vw;
}

.subh {
  font-size: 1.5vw;
  left: 11%;
}

h1 {
  top: 15vh;
  left: 50%;
}

#p1 {
  top: 23vh;
}

#p2 {
  top: 38vh;
}

h2 {
  font-size: 2.5vw;
  top: 55vh;
  left: 50%;
}

h3 {
  top: 69vh;
}

#p3 {
  top: 75vh;
}

#p4 {
  top: 83vh;
}

#p5 {
  top: 98vh;
}

#p6 {
  top: 106vh;
}

h4 {
  top: 113vh;
}

#p7 {
  top: 120vh;
}

h5 {
  top: 126vh;
}

#p8 {
  top: 135vh;
}

h6 {
  top: 145vh;
}

#p9 {
  top: 155vh;
}

#paragraphs_background {
  z-index: 0;
  height: 160vh;
  width: 80vw;
  background-color: rgba(214, 214, 214, 0.815);
  top: 15vh;
  left: 10vw;
  border-bottom-left-radius: 3vh;
  border-top-left-radius: 3vh;
  border-top-right-radius: 3vh;
  border-bottom-right-radius: 3vh;
}

/* //////////////////////////////////////////// */
#container_tc_div1 {
  background-color: rgb(202, 202, 202);
  height: 10vh;
  width: 20vw;
  animation-name: container_tc_div1;
  animation-duration: 3s;
}

@keyframes container_tc_div1 {
  0% {
    top: 30vh;
    left: 70vw;
  }

  50% {
    top: 29vh;
    left: 71.3vw;
  }

  100% {
    top: 30vh;
    left: 70vw;
  }
}

#container_tc_div2 {
  background-color: rgb(133, 133, 133);
  height: 15vh;
  width: 30vw;
  animation-name: container_tc_div2;
  animation-duration: 5s;
}

@keyframes container_tc_div2 {
  0% {
    top: 8vh;
    left: 15vw;
  }

  50% {
    top: 7vh;
    left: 17.3vw;
  }

  100% {
    top: 8vh;
    left: 15vw;
  }
}

#container_tc_div3 {
  background-color: rgb(99, 99, 99);
  animation-name: container_tc_div3;
  animation-duration: 5s;
}

@keyframes container_tc_div3 {
  0% {
    height: 16vh;
    width: 8vw;
    top: 9vh;
    left: 85vw;
  }

  50% {
    height: 12vh;
    width: 6vw;
    top: 11vh;
    left: 86.3vw;
  }

  100% {
    height: 16vh;
    width: 8vw;
    top: 9vh;
    left: 85vw;
  }
}

#container_tc_div4 {
  background-color: rgb(161, 161, 161);
  height: 7vh;
  width: 30vw;
  animation-name: container_tc_div4;
  animation-duration: 3.5s;
}

@keyframes container_tc_div4 {
  0% {
    top: 80vh;
    left: 3vw;
  }

  50% {
    top: 79vh;
    left: 4.3vw;
  }

  100% {
    top: 80vh;
    left: 3vw;
  }
}

#container_tc_div5 {
  background-color: rgb(160, 160, 160);
  height: 15vh;
  width: 15vw;
  animation-name: container_tc_div5;
  animation-duration: 5s;
}

@keyframes container_tc_div5 {
  0% {
    top: 84vh;
    left: 70vw;
  }

  50% {
    top: 83vh;
    left: 71.3vw;
  }

  100% {
    top: 84vh;
    left: 70vw;
  }
}

#container_tc_div6 {
  background-color: rgb(58, 58, 58);
  height: 12vh;
  width: 20vw;
  animation-name: container_tc_div6;
  animation-duration: 5s;
}

@keyframes container_tc_div6 {
  0% {
    top: 80vh;
    left: 0vw;
  }

  50% {
    top: 79vh;
    left: 1.3vw;
  }

  100% {
    top: 80vh;
    left: 0vw;
  }
}

#container_tc_div7 {
  background-color: rgb(141, 141, 141);
  height: 7vh;
  width: 40vw;
  animation-name: container_tc_div7;
  animation-duration: 4s;
}

@keyframes container_tc_div7 {
  0% {
    top: 88vh;
    left: 45vw;
  }

  50% {
    top: 87vh;
    left: 46.3vw;
  }

  100% {
    top: 88vh;
    left: 45vw;
  }
}

#container_tc_div8 {
  background-color: rgb(77, 77, 77);
  animation-name: container_tc_div8;
  animation-duration: 6s;
}

@keyframes container_tc_div8 {
  0% {
    height: 18vh;
    width: 9vw;
    top: 83vh;
    left: 83vw;
  }

  50% {
    height: 14vh;
    width: 7vw;
    top: 85vh;
    left: 84.3vw;
  }

  100% {
    height: 18vh;
    width: 9vw;
    top: 83vh;
    left: 83vw;
  }
}

#container_tc_div9 {
  background-color: rgb(51, 51, 51);
  height: 10vh;
  width: 20vw;
  animation-name: container_tc_div9;
  animation-duration: 3s;
}

@keyframes container_tc_div9 {
  0% {
    top: 25vh;
    left: 85vw;
  }

  50% {
    top: 24vh;
    left: 86.3vw;
  }

  100% {
    top: 25vh;
    left: 85vw;
  }
}

#container_tc_div10 {
  background-color: rgb(92, 92, 92);
  height: 10vh;
  width: 30vw;
  animation-name: container_tc_div10;
  animation-duration: 5s;
}

@keyframes container_tc_div10 {
  0% {
    top: 5vh;
    left: 40vw;
  }

  50% {
    top: 4vh;
    left: 41.3vw;
  }

  100% {
    top: 5vh;
    left: 40vw;
  }
}

#container_tc_div11 {
  background-color: rgb(212, 212, 212);
  height: 10vh;
  width: 12vw;
  animation-name: container_tc_div11;
  animation-duration: 3s;
}

@keyframes container_tc_div11 {
  0% {
    top: 85vh;
    left: 14vw;
  }

  50% {
    top: 84vh;
    left: 15.3vw;
  }

  100% {
    top: 85vh;
    left: 14vw;
  }
}

#container_tc_div12 {
  z-index: -10;
  background-color: rgb(170, 170, 170);
  animation-name: container_tc_div12;
  animation-duration: 6s;
}

@keyframes container_tc_div12 {
  0% {
    height: 20vh;
    width: 10vw;
    top: 3vh;
    left: 1vw;
  }

  50% {
    height: 16vh;
    width: 8vw;
    top: 5vh;
    left: 2.3vw;
  }

  100% {
    height: 20vh;
    width: 10vw;
    top: 3vh;
    left: 1vw;
  }
}

#container_tc_div13 {
  z-index: -10;
  background-color: rgb(102, 102, 102);
  height: 8vh;
  width: 20vw;
  animation-name: container_tc_div13;
  animation-duration: 5s;
}

@keyframes container_tc_div13 {
  0% {
    top: 20vh;
    left: -6vw;
  }

  50% {
    top: 19vh;
    left: -4.7vw;
  }

  100% {
    top: 20vh;
    left: -6vw;
  }
}

#container_tc_div14 {
  background-color: rgb(194, 194, 194);
  height: 10vh;
  width: 20vw;
  animation-name: container_tc_div14;
  animation-duration: 4s;
}

@keyframes container_tc_div14 {
  0% {
    top: 3vh;
    left: 60vw;
  }

  50% {
    top: 2vh;
    left: 61.3vw;
  }

  100% {
    top: 3vh;
    left: 60vw;
  }
}

#container_tc_div15 {
  background-color: rgb(143, 143, 143);
  animation-name: container_tc_div15;
  animation-duration: 6s;
}

@keyframes container_tc_div15 {
  0% {
    height: 20vh;
    width: 10vw;
    top: 80vh;
    left: 30vw;
  }

  50% {
    height: 16vh;
    width: 8vw;
    top: 82vh;
    left: 31.3vw;
  }

  100% {
    height: 20vh;
    width: 10vw;
    top: 80vh;
    left: 30vw;
  }
}

#container_tc_div16 {
  background-color: rgb(116, 116, 116);
  height: 10vh;
  width: 20vw;
  animation-name: container_tc_div16;
  animation-duration: 4s;
}

@keyframes container_tc_div16 {
  0% {
    top: 51vh;
    left: 22vw;
  }

  50% {
    top: 50vh;
    left: 23.3vw;
  }

  100% {
    top: 51vh;
    left: 22vw;
  }
}

#container_tc_div17 {
  background-color: rgb(80, 80, 80);
  height: 15vh;
  width: 40vw;
  animation-name: container_tc_div17;
  animation-duration: 5s;
}

@keyframes container_tc_div17 {
  0% {
    top: 90vh;
    left: 27vw;
  }

  50% {
    top: 89vh;
    left: 28.3vw;
  }

  100% {
    top: 90vh;
    left: 27vw;
  }
}

#container_tc_div18 {
  background-color: rgb(43, 43, 43);
  height: 13vh;
  width: 30vw;
  animation-name: container_tc_div18;
  animation-duration: 4s;
}

@keyframes container_tc_div18 {
  0% {
    top: 40vh;
    left: 17vw;
  }

  50% {
    top: 39vh;
    left: 18.3vw;
  }

  100% {
    top: 40vh;
    left: 17vw;
  }
}

#container_tc_div19 {
  z-index: -10;
  background-color: rgb(15, 15, 15);
  height: 10vh;
  width: 35vw;
  animation-name: container_tc_div19;
  animation-duration: 5s;
}

@keyframes container_tc_div19 {
  0% {
    top: 10vh;
    left: 5vw;
  }

  50% {
    top: 9vh;
    left: 6.3vw;
  }

  100% {
    top: 10vh;
    left: 5vw;
  }
}

#container_tc_div20 {
  background-color: rgb(12, 12, 12);
  height: 10vh;
  width: 40vw;
  animation-name: container_tc_div20;
  animation-duration: 3s;
}

@keyframes container_tc_div20 {
  0% {
    top: 40vh;
    left: 70vw;
  }

  50% {
    top: 39vh;
    left: 71.3vw;
  }

  100% {
    top: 40vh;
    left: 70vw;
  }
}

#container_tc_div21 {
  background-color: rgb(63, 63, 63);
  height: 13vh;
  width: 25vw;
  animation-name: container_tc_div21;
  animation-duration: 6s;
}

@keyframes container_tc_div21 {
  0% {
    top: 58vh;
    left: 30vw;
  }

  50% {
    top: 57vh;
    left: 31.3vw;
  }

  100% {
    top: 58vh;
    left: 30vw;
  }
}

#container_tc_div22 {
  background-color: rgb(156, 156, 156);
  height: 10vh;
  width: 20vw;
  animation-name: container_tc_div22;
  animation-duration: 5s;
}

@keyframes container_tc_div22 {
  0% {
    top: 70vh;
    left: 45vw;
  }

  50% {
    top: 69vh;
    left: 46.3vw;
  }

  100% {
    top: 70vh;
    left: 45vw;
  }
}

#container_tc_div23 {
  background-color: rgb(242, 243, 242);
  height: 10vh;
  width: 25vw;
  animation-name: container_tc_div23;
  animation-duration: 6s;
}

@keyframes container_tc_div23 {
  0% {
    top: 60vh;
    left: 10vw;
  }

  50% {
    top: 59vh;
    left: 11.3vw;
  }

  100% {
    top: 60vh;
    left: 10vw;
  }
}

#container_tc_div24 {
  background-color: rgb(110, 110, 110);
  height: 9vh;
  width: 40vw;
  animation-name: container_tc_div24;
  animation-duration: 5s;
}

@keyframes container_tc_div24 {
  0% {
    top: 48vh;
    left: 40vw;
  }

  50% {
    top: 47vh;
    left: 41.3vw;
  }

  100% {
    top: 48vh;
    left: 40vw;
  }
}

#container_tc_div25 {
  background-color: rgb(128, 128, 128);
  height: 15vh;
  width: 25vw;
  animation-name: container_tc_div25;
  animation-duration: 4s;
}

@keyframes container_tc_div25 {
  0% {
    top: 50vh;
    left: 85vw;
  }

  50% {
    top: 49vh;
    left: 86.3vw;
  }

  100% {
    top: 50vh;
    left: 85vw;
  }
}

#container_tc_div26 {
  background-color: rgb(185, 185, 185);
  height: 12vh;
  width: 25vw;
  animation-name: container_tc_div26;
  animation-duration: 6s;
}

@keyframes container_tc_div26 {
  0% {
    top: 73vh;
    left: 55vw;
  }

  50% {
    top: 72vh;
    left: 56.3vw;
  }

  100% {
    top: 73vh;
    left: 55vw;
  }
}

#container_tc_div27 {
  background-color: rgb(117, 117, 117);
  animation-name: container_tc_div27;
  animation-duration: 4s;
}

@keyframes container_tc_div27 {
  0% {
    height: 18vh;
    width: 9vw;
    top: 55vh;
    left: 63vw;
  }

  50% {
    height: 14vh;
    width: 7vw;
    top: 57vh;
    left: 64.3vw;
  }

  100% {
    height: 18vh;
    width: 9vw;
    top: 55vh;
    left: 63vw;
  }
}

#container_tc_div28 {
  background-color: rgb(156, 156, 156);
  height: 6vh;
  width: 30vw;
  animation-name: container_tc_div28;
  animation-duration: 5s;
}

@keyframes container_tc_div28 {
  0% {
    top: 38vh;
    left: 40vw;
  }

  50% {
    top: 37vh;
    left: 41.3vw;
  }

  100% {
    top: 38vh;
    left: 40vw;
  }
}

#container_tc_div29 {
  background-color: rgb(104, 104, 104);
  height: 12vh;
  width: 25vw;
  animation-name: container_tc_div29;
  animation-duration: 5s;
}

@keyframes container_tc_div29 {
  0% {
    top: 48vh;
    left: 0vw;
  }

  50% {
    top: 47vh;
    left: 1.3vw;
  }

  100% {
    top: 48vh;
    left: 0vw;
  }
}

#container_tc_div30 {
  background-color: rgb(143, 143, 143);
  height: 10vh;
  width: 30vw;
  animation-name: container_tc_div30;
  animation-duration: 7s;
}

@keyframes container_tc_div30 {
  0% {
    top: 20vh;
    left: 45vw;
  }

  50% {
    top: 19vh;
    left: 46.3vw;
  }

  100% {
    top: 20vh;
    left: 45vw;
  }
}

/* //////////////////////////////////////////////////////////////////////////// */

/* for phone users */
#phone_tilt {
  z-index: 200;
  background-color: white;
  height: 200%;
  width: 200%;
  display: none;
  font-size: 2vw;
}

@media all and (max-width: 500px) {
  #phone_tilt {
    display: unset;
  }
}

@media all and (max-width: 1180px) {
  * {
    font-family: 'Times New Roman';
    overflow-x: hidden;
  }

  .phone_none {
    display: none;
  }

  #terms_and_conditions_bodys {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url();
  }
}